<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HTML5_dev</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.initech.demo.init.InitializeServlet</listener-class>
  </listener>
  <context-param>
    <param-name>inisafe_demo</param-name>
    <param-value>C:/Project/src/JAVA_Developed_Test_Bed/setting/properties/demo/demo.properties</param-value>
  </context-param>
  <context-param>
    <param-name>demo_char_set</param-name>
    <param-value>euc-kr</param-value>
  </context-param>
  
<!--   
  <filter>
    <filter-name>SHTTPCrossWebServer</filter-name>
    <filter-class>com.initech.shttp.mos.INISAFECrossWebFilter</filter-class>
    <init-param>
      <param-name>propertiesPath</param-name>
      <param-value>D:/Development/INISAFE/workspace/90_JAVA_Developed_Test_Bed/setting/properties/crossweb_sfilter/SHTTPServer.ini</param-value>
    </init-param>
    <init-param>
      <param-name>propertiesAutoApply</param-name>
      <param-value>1</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SHTTPCrossWebServer</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
-->
	<servlet>
		<servlet-name>transkeyServlet</servlet-name>
		<servlet-class>com.raonsecure.transkey.servlet.TranskeyServlet</servlet-class>
		<init-param>
			<param-name>iniFilePath</param-name>
			<param-value>/WEB-INF/raon_transkey/config.ini</param-value>
		</init-param>
		<init-param>
			<param-name>privateKey</param-name>
			<param-value>/WEB-INF/raon_transkey/Private2048.key.der</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>transkeyServlet</servlet-name>
		<url-pattern>/transkeyServlet</url-pattern>
	</servlet-mapping>
  <listener>
    <listener-class>com.initech.certrelay.init.InitializeServlet</listener-class>
  </listener>
  <context-param>
    <param-name>cert_relay_v12</param-name>
    <param-value>C:/Project/src/JAVA_Developed_Test_Bed/setting/properties/cert_relay/cert_relay_server_v12.properties</param-value>
  </context-param>
  <context-param>
    <param-name>char_set</param-name>
    <param-value>EUC-KR</param-value>
  </context-param>
  <context-param>
    <param-name>response_char_set</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <servlet>
    <servlet-name>GetCertificateV12</servlet-name>
    <servlet-class>com.initech.certrelay.servlet.GetCertificateV12</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ByPassV12</servlet-name>
    <servlet-class>com.initech.certrelay.servlet.ByPassV12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCertificateV12</servlet-name>
    <url-pattern>/CertRelay/servlet/GetCertificateV12</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ByPassV12</servlet-name>
    <url-pattern>/CertRelay/servlet/ByPassV12</url-pattern>
  </servlet-mapping>
  
   	<!-- BaroSign -->
	<listener>
	        <listener-class>com.initech.barosign.init.InitializeServlet</listener-class>
	</listener>
	<context-param>
	        <param-name>barosign_main_properties_path</param-name>
	        <param-value>C:/Project/src/JAVA_Developed_Test_Bed/setting/properties/barosign/BaroSign.properties</param-value>
	</context-param>
	<context-param>
	        <param-name>message_properties_path</param-name>
	        <param-value>C:/Project/src/JAVA_Developed_Test_Bed/setting/properties/barosign/message.properties</param-value>
	</context-param>
	<context-param>
	        <param-name>barosign_oid_path</param-name>
	        <param-value>C:/Project/src/JAVA_Developed_Test_Bed/setting/properties/barosign/OID.ini</param-value>
	</context-param>
	
	<servlet>
	        <servlet-name>BaroSignServer</servlet-name>
	        <servlet-class>com.initech.barosign.server.BaroSignServer</servlet-class>
	</servlet>
	<servlet-mapping>
	        <servlet-name>BaroSignServer</servlet-name>
	        <url-pattern>/barosign/servlet/BaroSignServer</url-pattern>
	</servlet-mapping>
  <!--
  <servlet>
    <servlet-name>MOASignServer</servlet-name>
    <servlet-class>com.initech.moasign.server.MOASignServer</servlet-class>
    <init-param>
      <param-name>MOASignServerConfig</param-name>
      <param-value>D:\Development\INISAFE\workspace\90_JAVA_Developed_Test_Bed\setting\properties\moasign\MoaSignServer.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MOASignServer</servlet-name>
    <url-pattern>/moa/servlet/MOASignServer</url-pattern>
  </servlet-mapping>
  -->
</web-app>