<!-- 인증서 직접찾기 [브라우저외의 디바이스에서의 인증서 직접 찾기] -->
<meta charset="UTF-8">
<div class="certificate_view_area certificate_direct_area">
	<h2 class="section_title" id="INI_cert_search_manual_third_title"></h2>
	<div class="find_certificate direct_method">
		<p  id="INI_cert_search_manual_drop_help"> </p>
		<div class="drag_n_drop" id="INI_dropZone">
			<span class="icon drag"></span>
			<p>
				<b class="fs12"><em id="INI_cert_search_manual_dropzone_text"></em></b>
			</p>
		</div>
		
		<p class="align_right pdr0">
			<button class="btn_exp" id="INI_certFileFind">
				<i class="ico srh"></i> 
				<span id="INI_certFileFind_text"></span>
			</button>
		</p>
		<input type="file" id="INI_findfiles" style="display: none;" name="INI_findfiles" multiple/>
	</div>
</div>