<meta charset="UTF-8">
<!-- 인증서 가져오기 (브라우저) -->
<div class="certificate_view_area certificate_import_area">
	<h2 class="section_title" id="INI_cert_search_title"></h2>
	<div class="find_certificate select_method">
		<dl id ="INI_easy_search_area">
			<dt id="INI_cert_search_easy_sub_title"></dt>
			<dd  id="INI_easy_search_btn">
				<span class="icon simple"></span>
				<p id="INI_cert_search_easy_help">
				</p>
				<button type="button" class="btn_go" id="INI_easy_search_go"></button>
			</dd>
		</dl>
		<dl id ="INI_easy_search_manual_area">
			<dt  id="INI_cert_search_manual_sub_title"></dt>
			<dd id="INI_manual_search_btn">
				<span class="icon direct"></span>
				<p id="INI_cert_search_manual_help">.</p>
				<button type="button" class="btn_go" id="INI_manual_search_go"></button>
			</dd>
		</dl>
	</div>
</div>