<meta charset="UTF-8">
<div class="certificate_view_area" id="certificate_export_area">
	<h2 class="section_title" id="INI_cert_export_third_title"></h2>
	<div class="find_certificate certificate_export">
		<div class="find_certificate_inner">
			<span class="icon export"></span>
			<p id="INI_cert_export_help"> 
			</p>
			
			<p>
				<b class="fs12">
					(<span id="INI_cert_import_export_spendtime_text"></span> : <em class="em" id="INI_timer"></em>)
				</b>
			</b>
			</p>
		</div>
		<fieldset>
			<legend></legend>
			<div class="input_field2">
				<label for="cert" id="INI_cert_import_number_text"></label>
				<input type="text" class="number" value="" name="INI_authNum" maxlength="4" />
				<input type="text" class="number" value="" name="INI_authNum" maxlength="4" />
				<button type="button" class="btn_ref" id="INI_cert_authnum_refresh"> 
					<i class="ico ref"></i> 
					<span id="INI_refresh_txt" style="cursor: pointer;"></span> 
				</button>
			</div>
		</fieldset>
	</div>
</div>
