<meta charset="UTF-8">
<div class="certificate_view_area" id="certificate_import_area">
	<h2 class="section_title"></h2>
	<div class="find_certificate certificate_import">
		<div class="manager_inner">
			<span class="icon import"></span>
			<p class="pdb0"> </p>
			<p>
				<b class="fs12">(남은시간 : <em class="em">2분 30초</em>)
				</b>
			</p>
		</div>
		<fieldset>
			<legend>인증번호</legend>
			<label for="cert">인증번호</label> <input type="text" id="cert" title="인증번호 앞 4자리">
			 <input type="text" title="인증번호 뒤 4자리">
		</fieldset>
	</div>
</div>
