
<meta charset="UTF-8">
<div class="certificate_view_area" id="certificate_import_area">
	<h2 class="section_title" id="INI_cert_import_third_title"></h2>
	<div class="find_certificate certificate_import">
		<div class="manager_inner">
			<span class="icon import"></span>
			<p class="pdb0" id="INI_cert_import_help"> </p>
			<!--  
			<p>
				<b class="fs12">(남은시간 : <em class="em">2분 30초</em>)
				</b>
			</p>
			-->
		</div>
		<fieldset>
			<legend></legend>
			<label for="cert" id="INI_cert_import_number_text"></label> 
			 <input name="INI_authNum" type="text" maxlength="4" onkeydown="return INI_onlyNumber(event)" onkeyup="INI_removeChar(event)" >
	          <input name="INI_authNum" type="text" maxlength="4" onkeydown="return INI_onlyNumber(event)" onkeyup="INI_removeChar(event)" >
		</fieldset>
	</div>
</div>
