<meta charset="utf-8" />
<style type="text/css">
* { margin: 0; padding: 0; }
</style>

<div class="dimmed" style="display: block;"></div>
<div id="initech_certificate_wrap">
	<div class="layer_wrap" id="initech_certificate_save"
		style="width: 490px;">
		<div class="layer">
			<!--저장매체 선택-->
			<div class="media_select_area">
				<div class="save_media_select">
					<h2 class="section_title pdt20 INI_target_storage_title"  id="INI_target_storage_title"></h2>

					<!-- 기본 매체 (5개) -->
					<div id="INI_target_storage_list"></div>
					<!-- // 기본 매체 (5개) -->

					<!-- 확장매체 레이어 -->
					<div id="INI_target_storage_ext_list"></div>
					<!-- // 확장매체 레이어 -->
				</div>
			</div>
			<!--//저장매체 선택-->
		</div>
		<div id="INI_drawDialog_close">
			<a class="layer_close" id="INI_storage_select_close"> 
			</a>
		</div>
	</div>
</div>

