@charset "utf-8";

/* reset */
#initech_certificate_wrap{position:relative;font-family:'맑은 고딕', Dotum,"돋움",Helvetica,AppleSDGothicNeo,sans-serif;font-size:12px;color:#333; line-height:1;}
#initech_certificate_wrap *{margin:0;padding:0;font-size:inherit; line-height:1; box-sizing:content-box;}
#initech_certificate_wrap img,#initech_certificate_wrap fieldset ,#initech_certificate_wrap iframe{border:0 none}
#initech_certificate_wrap li{list-style:none}
#initech_certificate_wrap input,#initech_certificate_wrap select,#initech_certificate_wrap button{vertical-align:middle}
#initech_certificate_wrap label{cursor: pointer; vertical-align: middle;}
#initech_certificate_wrap img{vertical-align:top; border:0;}
#initech_certificate_wrap i,#initech_certificate_wrap em,#initech_certificate_wrap address{font-style:normal}
#initech_certificate_wrap button{margin:0;padding:0;cursor:pointer;box-sizing: border-box;}
#initech_certificate_wrap legend{width:0;display:none}
#initech_certificate_wrap table{border-collapse:collapse;border-spacing:0}
#initech_certificate_wrap caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0; padding-top:0px;padding-bottom:0px;}
#initech_certificate_wrap a{text-decoration:none;background-color:transparent;cursor:pointer; color:#333;}
#initech_certificate_wrap a:hover{text-decoration:none}
#initech_certificate_wrap a:visited{text-decoration:none}
#initech_certificate_wrap a:active{background-color:transparent;border:none}
#initech_certificate_wrap b,#initech_certificate_wrap strong{color:#000;}

/* 공통 */
#initech_certificate_wrap .align_right{text-align: right !important;}
#initech_certificate_wrap .align_center{text-align: center !important;}
#initech_certificate_wrap .pd0{padding:0 !important;}
#initech_certificate_wrap .pdr0{padding-right:0 !important;}
#initech_certificate_wrap .pdt0{padding-top:0 !important;}
#initech_certificate_wrap .pdb0{padding-bottom:0 !important;}
#initech_certificate_wrap .pdt20{padding-top:20px !important;}
#initech_certificate_wrap .pdl20{padding-left:20px !important;}
#initech_certificate_wrap .fs12{font-size: 12px !important;}
#initech_certificate_wrap .em{color:#db1616 !important;}
#initech_certificate_wrap .valign_t{vertical-align: top;}
#initech_certificate_wrap .valign_m{vertical-align: middle;}
#initech_certificate_wrap .sr-only{display:inline-block; overflow:hidden; position:absolute; width:0; height:0;}
#initech_certificate_wrap input::-webkit-input-placeholder{color:#666;}
#initech_certificate_wrap input::-moz-input-placeholder{color:#666;}
#initech_certificate_wrap input::-ms-input-placeholder{color:#666;}

/* 공통 아이콘 */
#initech_certificate_wrap .ico{display:inline-block; overflow: hidden; vertical-align: middle;}
#initech_certificate_wrap .ico + *{vertical-align: middle;}
#initech_certificate_wrap .ico.srh{width:12px; height:12px;}
#initech_certificate_wrap .disabled .ico.srh{background-position:-20px 0;}
#initech_certificate_wrap .ico.view{width:12px; height:12px; background-position:0 -20px;}
#initech_certificate_wrap .disabled .ico.view{background-position:-20px -20px;}
#initech_certificate_wrap .ico.del{width:12px; height:12px; background-position:0 -40px;}
#initech_certificate_wrap .disabled .ico.del{background-position:-20px -40px;}
#initech_certificate_wrap .ico.ref{width:13px; height:11px; background-position:0 -60px;}
#initech_certificate_wrap .disabled .ico.ref{background-position:-20px -60px;}
#initech_certificate_wrap .checkbox{display:inline-block; position:relative; line-height:13px;}
#initech_certificate_wrap .checkbox input[type=checkbox]{display:none;}
#initech_certificate_wrap .checkbox input[type=checkbox]{position:absolute; z-index: -1; visibility: hidden;}
#initech_certificate_wrap .checkbox input[type=checkbox] + label{display: inline-block; position:relative; padding-left:18px;}
#initech_certificate_wrap .checkbox input[type=checkbox] + label:before{content:''; position:absolute; top:0; left:0; display:inline-block; width:13px; height:13px;}
#initech_certificate_wrap .checkbox input[type=checkbox]:checked + label:before{content:'\2713'; position:absolute; top:0; left:0; display:inline-block; width:13px; height:13px;}

/* 스크롤바 */
#initech_certificate_wrap .mCSB_scrollTools{opacity:1; width:10px;}
#initech_certificate_wrap .mCSB_scrollTools .mCSB_draggerRail{width:5px; background-color:#dbdbdb;}
#initech_certificate_wrap .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:5px;}

/* wrap */
#initech_certificate_wrap{width:500px;background:#f8f8f8;text-align:left;z-index:99999;}
#initech_certificate_wrap .certificate{width:100%;} 

/*title style*/
#initech_certificate_wrap .title_area .title{position:relative; width:100%;}
#initech_certificate_wrap .title h1{height:42px; padding-left:20px; line-height: 42px; font-size:14px; font-weight:bold; color:#fff !important;}
#initech_certificate_wrap .title a{position:absolute; top:15px; right:20px; display:block;}
#initech_certificate_wrap .sub_title{padding:13px 20px; background:#fff; font-size:16px;}
#initech_certificate_wrap .section_title{height:24px; color:#000; font-weight:bold; font-size:14px;}

/*Banner*/
#initech_certificate_wrap .banner{margin:10px 20px 0; border:1px solid #dbdbdb; background:#fff;}
#initech_certificate_wrap .banner img{width:100%;}

/* 인증 영역 */
#initech_certificate_wrap .window_data_area{padding:20px;}

/*저장매체선택*/
#initech_certificate_wrap .media_select{position:relative; z-index: 10; width:100%; margin-bottom:20px;}

/*저장 매체 목록*/
#initech_certificate_wrap .media_list{width:100%; border-left:1px solid #dbdbdb;}
#initech_certificate_wrap .media_list:after{content: ''; display: block; clear: both;}
#initech_certificate_wrap .media_select .list_data{position:relative; float:left; width:89px;height:93px; border:1px solid #dbdbdb; background:#fff; text-align: center; color:#333;}
#initech_certificate_wrap .media_select .list_data>a{display:block; height:91px;  color:#333; border:1px solid #fff; border-left-width: 2px;}
#initech_certificate_wrap .media_select .list_select:first-child{border-left:0; width:89px;}
#initech_certificate_wrap .media_select .list_select>a,
#initech_certificate_wrap .media_select .open>a{font-weight:bold;}
#initech_certificate_wrap .media_select .data_disabled{color:#ccc;}
#initech_certificate_wrap .media_select .check{position:absolute; top:11px; right:18px; overflow:hidden; display:block; width:20px; height:0; padding-top:20px;}

/*매체선택(Default) 13ea*/
#initech_certificate_wrap .media_select .icon{display:inline-block; width:100%;height:70px;background-repeat:no-repeat;}
#initech_certificate_wrap .icon.browser{background-position:0 0}
#initech_certificate_wrap .icon.harddisk{background-position:-90px 0}
#initech_certificate_wrap .icon.removable{background-position:-180px 0}
#initech_certificate_wrap .icon.cellphone{background-position:-90px -180px}
#initech_certificate_wrap .icon.token,
#initech_certificate_wrap .icon.standard{background-position:-270px 0}
#initech_certificate_wrap .icon.extension{background-position:-360px 0}
#initech_certificate_wrap .icon.security_disk{background-position:0 -90px}
#initech_certificate_wrap .icon.smart_certify{background-position:-90px -90px}
#initech_certificate_wrap .icon.save_token{background-position:-180px -90px}
#initech_certificate_wrap .icon.qr_code{background-position:-270px -90px}
#initech_certificate_wrap .icon.cloud{background-position:-360px -90px}
#initech_certificate_wrap .icon.local_disk{background-position:0 -180px}
#initech_certificate_wrap .icon.smart_card{background-position:-180px -180px}
#initech_certificate_wrap .icon.chrome{background-position:-270px -180px}
#initech_certificate_wrap .icon.explorer{background-position:-360px -180px}
#initech_certificate_wrap .icon.sapari{background-position:0 -270px}
#initech_certificate_wrap .icon.firefox{background-position:-90px -270px}
#initech_certificate_wrap .icon.opera{background-position:-180px -270px}

/*매체선택(disabled)*/
#initech_certificate_wrap .save_media.data_disabled{color:#ccc;}
#initech_certificate_wrap .data_disabled .icon{opacity: 0.3; filter:alpha(opacity:'30');}

/*드라이브 선택*/
#initech_certificate_wrap .drive_select{position:absolute; top:101%; left:0; width:178px; background:#fff; border-width: 3px; border-style: solid; box-shadow: 5px 5px 30px 0px #979ba8; text-align: left;}
#initech_certificate_wrap .drive_select .close_btn{position:absolute;right:5px;top:5px;z-index:99}
#initech_certificate_wrap .drive_select ul{overflow-y:auto; overflow-x:hidden; width:100%; max-height:120px; padding:0.5em 0;}
#initech_certificate_wrap .drive_select li{padding:0.5em 1em; }
#initech_certificate_wrap .drive_select a{display:block; width:100%; white-space:nowrap;text-overflow:ellipsis; color:#333;}
#initech_certificate_wrap .drive_select a:hover{font-weight:bold;}
#initech_certificate_wrap .arr{position:absolute; top:-8px; left:40px;display:block; width:10px; height:5px;}

/*확장매체*/
#initech_certificate_wrap .extension_layer{position:absolute; top:100%; right:0; width:270px; border:3px solid; background:#fff; box-shadow: 5px 5px 30px 0px #979ba8;}
#initech_certificate_wrap .extension_layer .close_btn{position:absolute;right:5px;top:5px;z-index:99}
#initech_certificate_wrap .arr{position:absolute; top:-8px; right:40px;display:block; width:10px; height:5px;}
#initech_certificate_wrap .extension_media_list{width:100%;}
#initech_certificate_wrap .extension_media_list:after{content:''; display: block; clear:both;}
#initech_certificate_wrap .media_select .extension_media_list .list_data,
#initech_certificate_wrap .media_select .extension_media_list .list_data a,
#initech_certificate_wrap .media_select .extension_media_list .list_select,
#initech_certificate_wrap .media_select .extension_media_list .list_select a{border:0;}
#initech_certificate_wrap .extension_layer .drive_select{display:none;position:absolute;top:110%;left:0;background:#fff;z-index:99;border:1px solid #2b40ab;}
#initech_certificate_wrap .extension_layer .arr{background-position: -40px 0; right:40px; left:auto;}
#initech_certificate_wrap .extension_layer .drive_select .arr{top:-6px; left:40px; right:auto; height:6px; background-position: -40px -20px;}

 /*인증서목록*/
#initech_certificate_wrap .certificate_list_area{width:100%; margin-bottom:20px;}
#initech_certificate_wrap .certificate_list_area>dt{position:relative; width:100%;}
#initech_certificate_wrap .certificate_list_area>dt .more{position:absolute; top:0; right:0; display:block; height:12px; padding:0 13px 0 17px; color:#333; font-size:12px;}
#initech_certificate_wrap .certificate_list_area>dt .more:after{position:absolute; top:0; right:0; content: ''; display: block; width:6px; height:12px;}
#initech_certificate_wrap .certificate_list_area>dt .more.disabled:after{background-position:100% -18px;}
#initech_certificate_wrap .certificate_list_area>dt .more .ico{position:absolute; top:1px; left:0;}
#initech_certificate_wrap .certificate_list_area .table_wrap{height:137px; border:1px solid #dbdbdb; border-bottom-color:#f0f0f0; background:#fff; overflow-x:hidden;}
#initech_certificate_wrap .certificate_list_area .table_wrap .mCSB_scrollTools{top:32px; bottom:5px;}
#initech_certificate_wrap .certificate_list_area .cert_selected{box-shadow:0 0 3px 2px #e5e7f1;}
#initech_certificate_wrap .certificate_list_area table{width:100%;}
#initech_certificate_wrap .certificate_list_area th{overflow:hidden;text-align:center;white-space:nowrap;border-left:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb; font-size:11px;line-height:26px; font-weight:normal;}
#initech_certificate_wrap .certificate_list_area th:first-child{border-left: 0;}
#initech_certificate_wrap .certificate_list_area td{overflow:hidden;text-align:center;line-height:27px;white-space:nowrap;text-overflow:ellipsis;}
#initech_certificate_wrap .certificate_list_area tr.data{cursor: pointer}
#initech_certificate_wrap .certificate_list_area tr.no_data td{text-align: center;}
#initech_certificate_wrap .certificate_list_area td:first-child,
#initech_certificate_wrap .certificate_list_area td:first-child + td{text-align:left;}
#initech_certificate_wrap .certificate_list_area .active td{color:#000;}
#initech_certificate_wrap .certificate_list_area .active td:first-child,
#initech_certificate_wrap .certificate_list_area .active td:first-child + td a{font-weight:bold;}
#initech_certificate_wrap .certificate_list_area td a{padding-left:10px; color:#333;}
#initech_certificate_wrap .certificate_list_area td .ico{overflow:hidden; width:16px; height:0; margin:1px 3px 0 12px; padding-top:12px;}
#initech_certificate_wrap .certificate_list_area .ico.cert2{background:url(../img/icon/certificate_02.png);}
#initech_certificate_wrap .certificate_list_area .ico.cert3{background:url(../img/icon/certificate_03.png);}
#initech_certificate_wrap .certificate_list_area .manage{padding:10px; background:#fff; text-align: right; border:1px solid #dbdbdb; border-top:0;}
#initech_certificate_wrap .certificate_list_area .manage a{display:inline-block; padding:0 10px; color:#333; font-size:12px; font-weight:bold;}
#initech_certificate_wrap .certificate_list_area .manage a:first-child{border-right:1px solid #ebeff2;}
#initech_certificate_wrap .certificate_list_area .manage a *{vertical-align: top;}
#initech_certificate_wrap .certificate_list_area .disabled{cursor: default; color:#999 !important;}

/* 인증서 암호 입력 영역*/
#initech_certificate_wrap .certificate_password>dd{position:relative; border-width:2px; border-style: solid; background:#fff; zoom:1;}
#initech_certificate_wrap .certificate_password input{width:84%; padding:10px; height:14px; border:0;}
#initech_certificate_wrap .certificate_password .keyboard{position:absolute; top:0; right:0; display: block; width:45px; height:34px; cursor: pointer}
#initech_certificate_wrap .certificate_password + .agree_check{padding-top:14px; text-align:center;}
#initech_certificate_wrap .certificate_password .div{margin-top:20px; border-top:1px solid #f0f0f0;}

/* 버튼 영역 */
#initech_certificate_wrap .confirm_btn_area{width:100%; padding-top:20px; text-align: center;}
#initech_certificate_wrap .confirm_btn_area button{display:inline-block; width:125px; height:42px; font-size: 15px; font-weight:bold; border:1px solid;}
#initech_certificate_wrap .confirm_btn_area button.emp{color:#fff;}
#initech_certificate_wrap .confirm_btn_area button.cancel{color:#000; background:#fff; border-color:#ccc;}

/* 인증서 찾기 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#initech_certificate_wrap .find_certificate{}
#initech_certificate_wrap .find_certificate p{font-size: 11px; color:#555; line-height:16px; letter-spacing:-0.5px;}
#initech_certificate_wrap .find_certificate p + p{margin-top:15px;}
#initech_certificate_wrap .find_certificate .btn_exp,
#initech_certificate_wrap .find_certificate .btn{display:inline-block; width:110px; height:30px; background:#fff; border:1px solid #d0d0d0; font-weight:bold; color:#333; text-align:center; border-radius: 0;}
#initech_certificate_wrap .find_certificate .icon{position:absolute; top:0; left:0; display:inline-block; width:120px; height:100px;}
#initech_certificate_wrap .find_certificate .icon.simple{}
#initech_certificate_wrap .find_certificate .icon.direct{background-position:0 -100px;}
#initech_certificate_wrap .find_certificate .icon.drag{width:107px; height:46px; background-position:0 -300px;}
#initech_certificate_wrap .find_certificate .icon.cert{width:65px; height:54px; background-position:0 -600px;}

#initech_certificate_wrap .find_certificate fieldset{margin-top:20px; padding:13px;}
#initech_certificate_wrap .find_certificate input{width:163px; height:36px; margin-left:5px; line-height:36px; background:#fff; border:1px solid #dbdbdb; text-align: center; font-size: 18px; color:#000; font-weight:bold;}
#initech_certificate_wrap .find_certificate .input_field2 input{width:163px;}
#initech_certificate_wrap .find_certificate .input_field3 input{width:106px;}
#initech_certificate_wrap .find_certificate .input_field4 input{width:78px;}
#initech_certificate_wrap .find_certificate label{display:inline-block; height:38px; line-height: 38px; color:#000; padding-right:10px; vertical-align: middle; font-weight:bold;}

/*찾기 방식*/
#initech_certificate_wrap .select_method{border:1px solid #dbdbdb;}
#initech_certificate_wrap .select_method dl{position:relative; width:100%; height:100px; border-left:0; background:#fff;}
#initech_certificate_wrap .select_method dl:after{content:''; display: block; clear: both;}
#initech_certificate_wrap .select_method dl>*{padding-left:120px;}
#initech_certificate_wrap .select_method dl + dl{border-top:1px solid #dbdbdb;}
#initech_certificate_wrap .select_method dt{padding-top:17px; padding-bottom:7px; color:#000; font-size:14px; color:#000; font-weight:bold;}
#initech_certificate_wrap .select_method .btn_go{position:absolute; top:50%; right:20px; overflow:hidden; width:36px; height:0; padding-top:36px; margin-top:8px; border:0;}

/* 간편찾기 */
#initech_certificate_wrap .simple_method{padding-top:20px; background:#fff; border:1px solid #dbdbdb;}
#initech_certificate_wrap .simple_method>div{position:relative; width:245px; height:85px; margin:0 auto; padding-top:15px; padding-left:95px;}
#initech_certificate_wrap .simple_method .btn{margin-top:10px;}
#initech_certificate_wrap .simple_method .icon.simple{top:20px; left:0; width:79px; height:64px; background-position:0 -200px;}
 
/* 직접찾기 */
#initech_certificate_wrap .direct_method{padding:10px 20px; background:#fff; border:1px solid #dbdbdb; text-align:center;}
#initech_certificate_wrap .direct_method .icon.drag{position:static;}
#initech_certificate_wrap .drag_n_drop{margin:10px 0; padding:15px 0 10px; border:2px dashed;}
#initech_certificate_wrap .drag_n_drop .icon{margin-bottom:10px;}


/* 전자서명 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#initech_certificate_wrap .certificate_signature_area{width:100%; padding-bottom:20px;}
#initech_certificate_wrap .certificate_signature_area .txt_notice{padding-bottom:10px; font-weight:bold; color:#000; letter-spacing:-0.6px;}
#initech_certificate_wrap .signiture_info{padding:5px 0; border:1px solid #d4d4d4; background:#fff;}
#initech_certificate_wrap .signiture_info p{padding:5px 20px 2px; line-height:1.3;}
#initech_certificate_wrap .signiture_info dl{padding:0 20px; zoom:1;}
#initech_certificate_wrap .signiture_info dl:after{content:''; display: block; clear:both;}
#initech_certificate_wrap .signiture_info dl>*{float:left; padding:5px 0;}
#initech_certificate_wrap .signiture_info dt{width:30%; font-weight:bold; word-break:break-all;}
#initech_certificate_wrap .signiture_info dd{width:70%;}
    
/* 인증서 관리 */
#initech_certificate_wrap .certificate_manage{}
#initech_certificate_wrap .certificate_manage .menu_list{width:100%; margin:-3px 0 -3px;}
#initech_certificate_wrap .certificate_manage .menu_list:after{content:''; display: block; clear:both;}
#initech_certificate_wrap .certificate_manage .menu_list li{float:left; width:33.3%;}
#initech_certificate_wrap .menu_list a{position:relative; display:block; height:25px; padding-top:44px; margin:3px; border:1px solid #dbdbdb; color:#000; background:#fff url(../img/icon/ico_cert_manage.png) no-repeat; text-align:center; font-size:11px;}
#initech_certificate_wrap .menu_list a:hover{font-weight:bold;}
#initech_certificate_wrap .menu_list li:first-child a{margin-left:0;}
#initech_certificate_wrap .menu_list li:first-child + li a{background-position:0 -70px;}
#initech_certificate_wrap .menu_list li:first-child + li + li a{margin-right:0; background-position:0 -140px;}
#initech_certificate_wrap .menu_list li:first-child + li + li + li a{margin-left:0; background-position:0 -210px;}
#initech_certificate_wrap .menu_list li:first-child + li + li + li + li a{background-position:0 -280px;}
#initech_certificate_wrap .menu_list li:first-child + li + li + li + li + li a{margin-right:0; background-position:0 -350px;}
    
/* 인증서 보기 */
#initech_certificate_wrap .certificate_view_area .info_data{background:#fff; border:1px solid #dbdbdb;}
#initech_certificate_wrap .info_data .title{padding:9px 20px 10px; text-align: center; font-weight:bold; font-size:11px;}
#initech_certificate_wrap .info_data p{padding:5px 10px; line-height:22px;}
#initech_certificate_wrap .info_data .summary{padding:10px; margin:0 10px 10px; background:#f8f8f8;}
#initech_certificate_wrap .info_data .summary dl{width:100%;}
#initech_certificate_wrap .info_data .summary dl:after{content:''; display: block; clear: both;}
#initech_certificate_wrap .summary dl>*{float:left; padding:7px 0; overflow:hidden; text-overflow: ellipsis;}
#initech_certificate_wrap .summary dl>dt{display:inline; width:105px; padding-left:10px; font-weight:bold;}
/* /* #initech_certificate_wrap .summary dl>dd{width:283px;} */ */
#initech_certificate_wrap .info_data .info_more{margin-top:-10px; padding:0 10px;}
#initech_certificate_wrap .info_data .info_more dl{width:100%; padding:9px 0 8px; border-top:1px dotted #dbdbdb;}
#initech_certificate_wrap .info_data .info_more dl:after{content:''; display: block; clear: both;}
#initech_certificate_wrap .info_data .info_more dl:first-child{border-top:0;}
#initech_certificate_wrap .info_data .info_more dl>*{float:left; font-size: 11px; line-height:14px;}
#initech_certificate_wrap .info_data .info_more dt{display:inline; width:105px; padding-left:20px; font-weight:bold;}
#initech_certificate_wrap .info_data .info_more dd{width:283px; white-space: normal; word-wrap: break-word;}
#initech_certificate_wrap .info_data .mCSB_scrollTools{top:0; bottom:5px;}
#initech_certificate_wrap .certificate_view_area + fieldset{margin-top:20px;}

/* 인증서 암호 변경 */
#initech_certificate_wrap .certificate_password_area{border:1px solid #dbdbdb;}
#initech_certificate_wrap .certificate_password_area .certificate_password{padding:0 20px 15px; background:#fff; }
#initech_certificate_wrap .certificate_password_area dt{padding:15px 0 10px; font-weight:bold; color:#000;}
#initech_certificate_wrap .certificate_password_area>p{padding:14px 0 15px; text-align:center; font-size:11px; line-height:1.5; border-bottom:1px solid #f0f0f0;}
.certificate_password + .certificate_password{border-top:1px solid #dbdbdb;}

/* 인증서 가져오기 & 내보내기 */
#initech_certificate_wrap .certificate_import,
#initech_certificate_wrap .certificate_export{background:#fff; border:1px solid #dbdbdb; text-align:center;}
#initech_certificate_wrap .certificate_import .icon,
#initech_certificate_wrap .certificate_export .icon{position:static;}
#initech_certificate_wrap .find_certificate .icon.export{height:90px; background-position:0 -400px;}
#initech_certificate_wrap .find_certificate .icon.import{height:90px; background-position:0 -500px;}
#initech_certificate_wrap .find_certificate .btn_ref{display:inline-block; margin-left:10px; border:0; background:transparent;}
#initech_certificate_wrap .find_certificate .btn_ref span{text-decoration: underline;}
#initech_certificate_wrap .certificate_export .input_field2 input{width:125px;}
#initech_certificate_wrap .certificate_export .input_field3 input{width:81px;}
#initech_certificate_wrap .certificate_export .input_field4 input{width:59px;}

/* 인증서 저장위치 선택 레이어 */
#initech_certificate_wrap .save_media_select{position:relative; z-index: 10; width:100%; margin-bottom:20px;}

/*저장 매체 목록*/
#initech_certificate_wrap .save_media_list{width:100%; border-left:1px solid #dbdbdb;}
#initech_certificate_wrap .save_media_list:after{content: ''; display: block; clear: both;}
#initech_certificate_wrap .save_media_select .save_media{position:relative; float:left; width:89px;height:93px; border:1px solid #dbdbdb; border-left:0; background:#fff; text-align: center; color:#333;}
#initech_certificate_wrap .save_media_select .save_media>a{display:block; height:91px;  color:#333; border:1px solid #fff; border-left-width: 2px;}
#initech_certificate_wrap .save_media_select .media_selected:first-child{border-left:0; width:89px;}
#initech_certificate_wrap .save_media_select .media_selected>a,
#initech_certificate_wrap .save_media_select .media_open>a{font-weight:bold;}
#initech_certificate_wrap .save_media_select .check{position:absolute; top:11px; right:18px; overflow:hidden; display:block; width:20px; height:0; padding-top:20px;}

/*매체선택(Default) 13ea*/
#initech_certificate_wrap .save_media_select .icon{display:inline-block; width:100%;height:72px;background-repeat:no-repeat;}    

/*매체선택(disabled)*/
#initech_certificate_wrap .save_media.media_disabled{color:#ccc;}
#initech_certificate_wrap .media_disabled .icon{opacity: 0.3; filter:alpha(opacity:'30');}

/*드라이브 선택*/
#initech_certificate_wrap .save_drive_select{position:absolute; top:101%; left:0; width:178px; background:#fff; border-width: 3px; border-style: solid; box-shadow: 5px 5px 30px 0px #979ba8; text-align: left;}
#initech_certificate_wrap .save_drive_select .close_btn{position:absolute;right:5px;top:5px;z-index:99}
#initech_certificate_wrap .save_drive_select ul{overflow-y:auto; overflow-x:hidden; width:100%; max-height:120px; padding:0.5em 0;}
#initech_certificate_wrap .save_drive_select li{padding:0.5em 1em; }
#initech_certificate_wrap .save_drive_select a{display:block; width:100%; white-space:nowrap;text-overflow:ellipsis; color:#333;}

/*확장매체*/
#initech_certificate_wrap .save_extension_layer{position:absolute; top:100%; right:20px; width:270px; border:3px solid #2b40ab; background:#fff; box-shadow: 5px 5px 30px 0px #979ba8;}
#initech_certificate_wrap .save_extension_layer .close_btn{position:absolute;right:5px;top:5px;z-index:99}
#initech_certificate_wrap .save_extension_layer .arr{right:40px; left:auto;}
#initech_certificate_wrap .extension_save_media_list{width:100%;}
#initech_certificate_wrap .extension_save_media_list:after{content:''; display: block; clear:both;}
#initech_certificate_wrap .extension_save_media_list .save_media,
#initech_certificate_wrap .extension_save_media_list .save_media a,
#initech_certificate_wrap .extension_save_media_list .save_media.media_selected,
#initech_certificate_wrap .extension_save_media_list .save_media.media_selected a{border:0;}
#initech_certificate_wrap .extension_save_media_list .save_drive_select{display:none;position:absolute;top:110%;left:0;background:#fff;z-index:99;border:1px solid #2b40ab;}
#initech_certificate_wrap .extension_save_media_list .save_drive_select .arr{top:-6px; left:40px; right:auto; height:6px; background-position: -40px -20px;}

/* 스마트 카드 */
#initech_certificate_wrap .smart_card_area{margin-bottom:20px; padding-bottom:10px; border:1px solid #dbdbdb; background:#fff;}
#initech_certificate_wrap .smart_card_area .title{padding:10px 20px 10px; text-align: center; font-weight:bold; font-size:11px;}
#initech_certificate_wrap .select_list{margin:0 10px; background:#f8f8f8;}
#initech_certificate_wrap .select_list a{display:block; height:30px; line-height: 30px; text-align:center; color:#333;}
#initech_certificate_wrap .select_list a.selected{font-weight:bold;}

/* 레이어 팝업 */
.dimmed{position:fixed; width:100%; height:100%;left:0;top:0; background:#93b1f8; opacity:.45; filter:alpha(opacity:'45');}
#keyboard *{box-sizing:content-box;}
#keyboard.keyboard_wrap{position:absolute; top:50%; left:50%; width:743px; height:305px; margin:-153px 0 0 -371px; background:#f8f8f8; text-align:center;}
#keyboard.keyboard_wrap .keyboard_close{position:absolute; top:15px; right:20px;}
#keyboard.keyboard_wrap .password{padding:12px 0; margin:0 14px 7px; border-bottom:1px solid #dbdbdb;}
#keyboard.keyboard_wrap .password input{width:220px; height:20px; border:2px solid; text-align:center;}

#initech_certificate_save.layer_wrap{position:absolute; background:#fff;}
#initech_certificate_save.layer_wrap .layer_close{position:absolute; top:15px; right:20px;}

/* loading */
#ini_cert_loading{position:absolute; width:238px; height:97px; background:#fff; text-align: center; border:1px solid #dbdbdb; font-family: "맑은 고딕"; font-size:12px; line-height:1;}
#ini_cert_loading .img{display:inline-block; width:78px; height:43px;}
#ini_cert_loading p{margin-bottom:8px;}
#ini_cert_loading b{font-size:15px;}

/* message */
#ini_message_alert{position:absolute; width:290px; min-height:178px; background:#fff; text-align: center; font-family: "맑은 고딕"; font-size:12px; line-height:1;}
#ini_message_alert .icon{display:inline-block; width:50px; height:50px; margin:20px 0 15px;}
#ini_message_alert .icon.cert{width:65px; height:54px;}
#ini_message_alert .icon.confirm{background-position:0 0;}
#ini_message_alert .icon.notice{background-position:0 -50px;}
#ini_message_alert .icon.warn{width:61px; background-position:0 -100px;}
#ini_message_alert .icon + p{padding:0 10px; word-break: break-all; line-height:1.3;}
#ini_message_alert .btn_area button{display:inline-block; width:80px; height:30px; margin:20px 0; font-weight:bold;  color:#fff; border:1px solid;}
#ini_message_alert .layer_close{position:absolute; top:10px; right:10px;}


#initech_certificate_wrap .window + .custom_banner{position:absolute; top:0; left:500px; overflow:hidden; height:100%; padding-right:0px;}
#initech_certificate_wrap .custom_banner .banner_close{position:absolute; top:15px; right:15px; z-index: 7002;}
