@charset "utf-8";

/* 테마 컬러  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* 폰트컬러 1 */
#initech_certificate_wrap em,
#initech_certificate_wrap .sub_title h2,
#initech_certificate_wrap .drive_select a:hover,
#initech_certificate_wrap .save_drive_select a:hover,
#initech_certificate_wrap .certificate_list_area .active td:first-child + td a,
#initech_certificate_wrap .select_method dl:hover dt,
#initech_certificate_wrap .menu_list a:hover,
#initech_certificate_wrap .select_list a.selected,
#ini_cert_loading em{color:#2b40ab !important;}
/* 폰트컬러 2 */
#initech_certificate_wrap .media_select .list_select>a,
#initech_certificate_wrap .save_media_select .media_selected>a,
#initech_certificate_wrap .media_select .open>a,
#initech_certificate_wrap .save_media_select .media_open>a{color:#152b97;}

/* 배경색상1 */
#initech_certificate_wrap .title_area .title{background: #2b40ab;}
/* 배경색상2 */
#initech_certificate_wrap .media_select .open,
#initech_certificate_wrap .save_media_select .media_open,
#initech_certificate_wrap .certificate_list_area .active td,
#initech_certificate_wrap .select_method dl:hover,
#initech_certificate_wrap .find_certificate fieldset,
#initech_certificate_wrap .media_select .list_select,
#initech_certificate_wrap .save_media_select .media_selected,
#initech_certificate_wrap .menu_list a:hover,
#initech_certificate_wrap .drag_n_drop,
#initech_certificate_wrap .select_list a.selected,
#keyboard.keyboard_wrap .password input{background-color:#e5ecff;}
/* 배경색상 4 */
#initech_certificate_wrap .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
#initech_certificate_wrap .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
#initech_certificate_wrap .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
#initech_certificate_wrap .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: #4559bf;}

/*보더색상 1 */
#initech_certificate_wrap .drive_select,
#initech_certificate_wrap .extension_layer .drive_select,
#initech_certificate_wrap .save_drive_select,
#initech_certificate_wrap .save_extension_layer .save_drive_select,
#initech_certificate_wrap .certificate_password>dd,
#initech_certificate_wrap .media_select .list_select,
#initech_certificate_wrap .save_media_select .media_selected,
#initech_certificate_wrap .media_select .list_select>a,
#initech_certificate_wrap .save_media_select .media_selected>a,
#initech_certificate_wrap .extension_layer,
#keyboard.keyboard_wrap  .password input{border-color:#2b40ab;}
/* 보더색상 2 */
#initech_certificate_wrap .media_select .open>a,
#initech_certificate_wrap .save_media_select .media_open>a{border-color:#e5ecff;}
/* 보더색상 3 */
#initech_certificate_wrap .certificate_list_area .cert_selected{border-color:#7885ca;}
/* 보더색상 4 */
#initech_certificate_wrap .drag_n_drop{border-color:#9eacd0;}
/* btn */
#initech_certificate_wrap .find_certificate .btn.emp,
#initech_certificate_wrap .confirm_btn_area button.emp,
#ini_message_alert .emp{background:#2b40ab; border-color: #2b40ab; color:#fff;}

/* 아이콘, 배경이미지 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* checkbox */
#initech_certificate_wrap .checkbox input[type=checkbox] + label:before{background:url(../img/color_identity_blue/ico_initech_cert.png) no-repeat -60px 0;}
#initech_certificate_wrap .checkbox input[type=checkbox]:checked + label:before{background:url(../img/color_identity_blue/ico_initech_cert.png) no-repeat -60px -20px;}
/* 기타아이콘 */
#initech_certificate_wrap .ico{background:url(../img/color_identity_blue/ico_initech_cert.png) no-repeat;}
/* 저장매체아이콘 */
#initech_certificate_wrap .media_select_area .icon{background-image:url(../img/color_identity_blue/media_select.png);}
#initech_certificate_wrap .media_select_area .open .icon,
#initech_certificate_wrap .media_select_area a:hover .icon,
#initech_certificate_wrap .media_select_area .list_select .icon{background-image:url(../img/color_identity_blue/media_select_over.png);}
#initech_certificate_wrap .media_select_area .check{background:url(../img/color_identity_blue/ico_selected.png) no-repeat;}
/* 미니레이어 화살표 */
#initech_certificate_wrap .arr{background:url(../img/color_identity_blue/ico_initech_cert.png) no-repeat -40px 0;}
/* 인증서 저장목록 아이콘 */
#initech_certificate_wrap .certificate_list_area .ico.cert1{background:url(../img/color_identity_blue/certificate.png);}
#initech_certificate_wrap .certificate_list_area>dt .more:after{background:url(../img/color_identity_blue/ico_initech_cert.png) no-repeat 100% 2px;}
/* 키보드 */
#initech_certificate_wrap .certificate_password .keyboard{background:url(../img/color_identity_blue/ico_keyboard.png) no-repeat;}
/* 인증서찾기 아이콘 */
#initech_certificate_wrap .find_certificate .icon{background:url(../img/color_identity_blue/ico_find_certificate.png) no-repeat;}
#initech_certificate_wrap .select_method .btn_go{background:url(../img/color_identity_blue/btn_go.png) no-repeat;}
/* loading */
#ini_cert_loading .img{background:url(../img/color_identity_blue/img_loading.gif) no-repeat;}
/* message */
