@charset "utf-8";

/* reset */
#initech_certificate_wrap{position:relative;font-family:'맑은 고딕', Dotum,"돋움",Helvetica,AppleSDGothicNeo,sans-serif;font-size:12px;color:#000; line-height:1;}
#initech_certificate_sub_wrap{position:relative;font-family:'맑은 고딕', Dotum,"돋움",Helvetica,AppleSDGothicNeo,sans-serif;font-size:12px;color:#000; line-height:1;}
#initech_certificate_wrap *{margin:0;padding:0;font-size:inherit; box-sizing:content-box;}
#initech_certificate_wrap img,
#initech_certificate_wrap fieldset ,
#initech_certificate_wrap iframe{border:0 none}
#initech_certificate_wrap li{list-style:none}
#initech_certificate_wrap input,
#initech_certificate_wrap select,
#initech_certificate_wrap button{vertical-align:middle}
#initech_certificate_wrap label{cursor: pointer; vertical-align: middle;}
#initech_certificate_wrap img{vertical-align:top; border:0;}
#initech_certificate_wrap i,
#initech_certificate_wrap em,
#initech_certificate_wrap address{font-style:normal}
#initech_certificate_wrap button{margin:0;padding:0;cursor:pointer;box-sizing: border-box;}
#initech_certificate_wrap legend{width:0;display:none}
#initech_certificate_wrap table{border-collapse:collapse;border-spacing:0}
#initech_certificate_wrap caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0; padding-top:0px;padding-bottom:0px;}
#initech_certificate_wrap a{text-decoration:none;background-color:transparent;cursor:pointer; color:#000;}
#initech_certificate_wrap a:hover{text-decoration:none}
#initech_certificate_wrap a:visited{text-decoration:none}
#initech_certificate_wrap a:active{background-color:transparent;border:none}
#initech_certificate_wrap b
,#initech_certificate_wrap strong{color:#000;}
#initech_certificate_wrap .title_area{overflow:hidden;}
/* 공통 */
#initech_certificate_wrap .align_right{text-align: right !important;}
#initech_certificate_wrap .align_center{text-align: center !important;}
#initech_certificate_wrap .pd0{padding:0 !important;}
#initech_certificate_wrap .pdr0{padding-right:0 !important;}
#initech_certificate_wrap .pdt0{padding-top:0 !important;}
#initech_certificate_wrap .pdb0{padding-bottom:0 !important;}
#initech_certificate_wrap .pdt20{padding-top:20px !important;}
#initech_certificate_wrap .pdl20{padding-left:20px !important;}
#initech_certificate_wrap .fs12{font-size: 12px !important;}
#initech_certificate_wrap .em{color:#db1616 !important;}
#initech_certificate_wrap .valign_t{vertical-align: top;}
#initech_certificate_wrap .valign_m{vertical-align: middle;}
#initech_certificate_wrap .sr-only{display:inline-block; overflow:hidden; position:absolute; width:0; height:0;}
#initech_certificate_wrap input::-webkit-input-placeholder{color:#666;}
#initech_certificate_wrap input::-moz-input-placeholder{color:#666;}
#initech_certificate_wrap input::-ms-input-placeholder{color:#666;}

/* 공통 아이콘 */
#initech_certificate_wrap .ico{display:inline-block; overflow: hidden; vertical-align: middle;}
#initech_certificate_wrap .ico + *{vertical-align: middle;}
#initech_certificate_wrap .ico.srh{width:12px; height:12px;}
#initech_certificate_wrap .disabled .ico.srh{background-position:-20px 0;}
#initech_certificate_wrap .ico.view{width:12px; height:12px; background-position:0 -20px;}
#initech_certificate_wrap .disabled .ico.view{background-position:-20px -20px;}
#initech_certificate_wrap .ico.del{width:12px; height:12px; background-position:0 -40px;}
#initech_certificate_wrap .disabled .ico.del{background-position:-20px -40px;}
#initech_certificate_wrap .ico.ref{width:13px; height:11px; background-position:0 -60px;}
#initech_certificate_wrap .disabled .ico.ref{background-position:-20px -60px;}
#initech_certificate_wrap .checkbox{display:inline-block; position:relative; line-height:13px;}
#initech_certificate_wrap .checkbox input[type=checkbox]{position:absolute; z-index: -1; visibility: hidden;}
#initech_certificate_wrap .checkbox input[type=checkbox] + label{display: inline-block; position:relative; padding-left:18px;}
#initech_certificate_wrap .checkbox input[type=checkbox] + label:before{content:''; position:absolute; top:0; left:0; display:inline-block; width:13px; height:13px;}

/* 스크롤바 */
#initech_certificate_wrap .mCSB_scrollTools{opacity:1; width:10px;}
#initech_certificate_wrap .mCSB_scrollTools .mCSB_draggerRail{width:5px; background-color:#dbdbdb;}
#initech_certificate_wrap .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:5px;}

/* wrap */
#initech_certificate_wrap{width:500px;background:#f8f8f8;text-align:left;z-index:9999;}
#initech_certificate_wrap .certificate{width:100%;/* min-height:620px; */}

/*title style*/
#initech_certificate_wrap .title_area .title{position:relative; width:100%;}
#initech_certificate_wrap .title h1{height:42px; padding-left:20px; line-height: 42px; font-size:14px; font-weight:bold; color:#fff !important;}
#initech_certificate_wrap .title a{position:absolute; top:15px; right:20px; display:block;}
#initech_certificate_wrap .sub_title{padding:13px 20px; background:#fff; font-size:16px;}
#initech_certificate_wrap .section_title{/* height:24px; 2017-06-16 */margin-bottom:0px; color:#000; font-weight:bold; font-size:13px;}

/*Banner - 인증서 창의 고정 폭 오픈을 위하여 이미지 넖이, 폭 지정 */
#initech_certificate_wrap .banner{margin:10px 20px 0; border:1px solid #dbdbdb; background:#fff; height:60px}
#initech_certificate_wrap .banner img{width:100%;}

/* 인증 영역 */
#initech_certificate_wrap .window_data_area{padding:16px 20px; }

/*저장매체선택*/
#initech_certificate_wrap .media_select{position:relative; z-index: 10; width:100%; margin-bottom:16px;}

/* 저장매체아이콘 */
/*
#initech_certificate_wrap .media_select_area .icon{background-image:url(../img/color_identity_blue/media_select.png);}
#initech_certificate_wrap .media_select_area .open .icon,
#initech_certificate_wrap .media_select_area a:hover .icon,
#initech_certificate_wrap .media_select_area .list_select .icon{background-image:url(../img/color_identity_blue/media_select_over.png);}
*/

/*저장 매체 목록*/
#initech_certificate_wrap .media_list{width:100%; border-left:1px solid #dbdbdb;}
#initech_certificate_wrap .media_list:after{content: ''; display: block; clear: both;}
#initech_certificate_wrap .media_select .list_data{position:relative; float:left; width:89px;height:92px; border:1px solid #dbdbdb;
background:#fff;text-align:center;color:#333;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}  /* 2017-08-14 수정 */
#initech_certificate_wrap .media_select .list_data>a{display:block; height:88px;  color:#333; border:1px solid #fff; /*border-left-width: 2px;*/}
#initech_certificate_wrap .media_select .list_select:first-child{/*border-left:0;*/ /*width:20%;*/} /* 2017-08-14 수정 */
html*#initech_certificate_wrap .media_select .list_data { width:91px;}
html*#initech_certificate_wrap .media_select .list_data>a{height:90px;}
html*#initech_certificate_wrap .media_select .list_select:first-child{border-left:0; width:90px;}
#initech_certificate_wrap .media_select .list_select>a,
#initech_certificate_wrap .media_select .open>a{font-weight:bold;}
#initech_certificate_wrap .media_select .data_disabled{color:#ccc;}
#initech_certificate_wrap .media_select .check{position:absolute; top:11px; right:18px; overflow:hidden; display:block; width:20px; height:0; padding-top:20px;}

/*매체선택(Default) 13ea*/
#initech_certificate_wrap .media_select .icon{display:inline-block; width:100%;height:65px;background-repeat:no-repeat;}
#initech_certificate_wrap .icon.browser{background:url(../img/icon/icon_browser.png) 50% 20px no-repeat;}
#initech_certificate_wrap .media_select_area .open .icon.browser,
#initech_certificate_wrap .media_select_area a:hover .icon.browser,
#initech_certificate_wrap .media_select_area .list_select .icon.browser{background:url(../img/icon/icon_browser_on.png) 50% 20px no-repeat;}

#initech_certificate_wrap .icon.harddisk{background:url(../img/icon/icon_disk1.png) 50% 20px no-repeat}
#initech_certificate_wrap .media_select_area .open .icon.harddisk,
#initech_certificate_wrap .media_select_area a:hover .icon.harddisk,
#initech_certificate_wrap .media_select_area .list_select .icon.harddisk{background:url(../img/icon/icon_disk1_on.png) 50% 20px no-repeat;}

/* cellphone class 추가 -  안영철*/
#initech_certificate_wrap .media_select_area .icon.cellphone{background:url(../img/icon/icon_disk3.png) 50% 20px no-repeat}
#initech_certificate_wrap .media_select_area .open .icon.cellphone,
#initech_certificate_wrap .media_select_area a:hover .icon.cellphone,
#initech_certificate_wrap .media_select_area .list_select .icon.cellphone{background:url(../img/icon/icon_disk3_on.png) 50% 20px no-repeat;}

#initech_certificate_wrap .icon.removable{background:url(../img/icon/icon_disk2.png) 50% 20px no-repeat;}
#initech_certificate_wrap .media_select_area .open .icon.removable,
#initech_certificate_wrap .media_select_area a:hover .icon.removable,
#initech_certificate_wrap .media_select_area .list_select .icon.removable{background:url(../img/icon/icon_disk2_on.png) 50% 20px no-repeat;}
#initech_certificate_wrap .icon.token,
#initech_certificate_wrap .icon.standard{background:url(../img/icon/icon_disk3.png) 50% 20px no-repeat;}
#initech_certificate_wrap .media_select_area .open .icon.token,
#initech_certificate_wrap .media_select_area a:hover .icon.token,
#initech_certificate_wrap .media_select_area .list_select .icon.token,
#initech_certificate_wrap .media_select_area .open .icon.standard,
#initech_certificate_wrap .media_select_area a:hover .icon.standard,
#initech_certificate_wrap .media_select_area .list_select .icon.standard{background:url(../img/icon/icon_disk3_on.png) 50% 20px no-repeat;}

#initech_certificate_wrap .icon.extension{background:url(../img/icon/icon_disk4.png) 50% 20px no-repeat}
#initech_certificate_wrap .media_select_area .open .icon.extension,
#initech_certificate_wrap .media_select_area a:hover .icon.extension,
#initech_certificate_wrap .media_select_area .list_select .icon.extension{background:url(../img/icon/icon_disk4_on.png) 50% 20px no-repeat;}

#initech_certificate_wrap .icon.security_disk{background:url(../img/icon/icon_disk5.png) 50% 20px no-repeat;}
#initech_certificate_wrap .media_select_area .open .icon.security_disk,
#initech_certificate_wrap .media_select_area a:hover .icon.security_disk,
#initech_certificate_wrap .media_select_area .list_select .icon.security_disk{background:url(../img/icon/icon_disk5_on.png) 50% 20px no-repeat;}

#initech_certificate_wrap .icon.smart_certify{background:url(../img/icon/icon_disk6.png) 50% 20px no-repeat;}
#initech_certificate_wrap .media_select_area .open .icon.smart_certify,
#initech_certificate_wrap .media_select_area a:hover .icon.smart_certify,
#initech_certificate_wrap .media_select_area .list_select .icon.smart_certify{background:url(../img/icon/icon_disk6_on.png) 50% 20px no-repeat;}

#initech_certificate_wrap .icon.token-drive{background:url(../img/icon/icon_disk7.png) 50% 20px no-repeat;}
#initech_certificate_wrap .media_select_area .open .icon.token-drive,
#initech_certificate_wrap .media_select_area a:hover .icon.token-drive,
#initech_certificate_wrap .media_select_area .list_select .icon.token-drive{background:url(../img/icon/icon_disk7_on.png) 50% 20px no-repeat;}

#initech_certificate_wrap .icon.smart_card{background:url(../img/icon/icon_disk8.png) 50% 20px no-repeat;}
#initech_certificate_wrap .media_select_area .open .icon.smart_card,
#initech_certificate_wrap .media_select_area a:hover .icon.smart_card,
#initech_certificate_wrap .media_select_area .list_select .icon.smart_card{background:url(../img/icon/icon_disk8_on.png) 50% 20px no-repeat;}

#initech_certificate_wrap .icon.save_token{background-position:-180px -90px}
#initech_certificate_wrap .icon.baro{background-position:-270px -90px}
#initech_certificate_wrap .icon.cloud{background-position:-360px -90px}
#initech_certificate_wrap .icon.local_disk{background-position:0 -180px}
#initech_certificate_wrap .icon.cellphone{background-position:-90px -180px}
#initech_certificate_wrap .icon.chrome{background-position:-270px -180px}
#initech_certificate_wrap .icon.explorer{background-position:-360px -180px}
#initech_certificate_wrap .icon.sapari{background-position:0 -270px}
#initech_certificate_wrap .icon.firefox{background-position:-90px -270px}
#initech_certificate_wrap .icon.opera{background-position:-180px -270px}

/*매체선택(disabled)*/
#initech_certificate_wrap .save_media.data_disabled{color:#ccc;}
#initech_certificate_wrap .data_disabled .icon{opacity: 0.3; filter:alpha(opacity:'30');}

/*드라이브 선택*/
#initech_certificate_wrap .drive_select{position:absolute; top:101%; left:0; width:178px; background:#fff; border-width: 3px; border-style: solid; box-shadow: 5px 5px 30px 0px #979ba8; text-align: left;}

#initech_certificate_wrap .drive_select .close_btn{position:absolute;right:5px;top:5px;z-index:99}
#initech_certificate_wrap .drive_select ul{overflow-y:auto; overflow-x:hidden; width:100%; max-height:120px; padding:0.5em 0;}
#initech_certificate_wrap .drive_select li{padding:0.5em 1em;_padding:0.5em 0em;}
#initech_certificate_wrap .drive_select a{display:block; width:100%; white-space:nowrap;text-overflow:ellipsis;overflow:hidden;height:14px;}
#initech_certificate_wrap .drive_select a:hover{font-weight:bold;}
#initech_certificate_wrap .arr{position:absolute; top:-8px; left:40px;display:block; width:10px; height:5px;}

/*확장매체*/
#initech_certificate_wrap .extension_layer{position:absolute; top:100%; right:0; min-width:270px; border:3px solid; background:#fff; box-shadow: 5px 5px 30px 0px #979ba8;-webkit-box-shadow:5px 5px 30px 0px #979ba8} /* 2017-08-14 수정 */
#initech_certificate_wrap .extension_layer .close_btn{position:absolute;right:5px;top:5px;z-index:99}
#initech_certificate_wrap .arr{position:absolute; top:-8px; right:40px;display:block; width:10px; height:5px;}
#initech_certificate_wrap .extension_media_list{width:100%;}
#initech_certificate_wrap .extension_media_list:after{content:''; display: block; clear:both;}
#initech_certificate_wrap .media_select .extension_media_list .list_data{/*width:33.33%;*/} /* 2017-08-14 수정 */
#initech_certificate_wrap .media_select .extension_media_list .list_data,
#initech_certificate_wrap .media_select .extension_media_list .list_data a,
#initech_certificate_wrap .media_select .extension_media_list .list_select,
#initech_certificate_wrap .media_select .extension_media_list .list_select a{border:0;}
#initech_certificate_wrap .extension_layer .drive_select{display:none;position:absolute;top:110%;left:0;background:#fff;z-index:99;border:1px solid #2b40ab;} /* color change */
#initech_certificate_wrap .extension_layer .arr{background-position: -40px 0; right:40px; left:auto;}
#initech_certificate_wrap .extension_layer .drive_select .arr{top:-6px; left:40px; right:auto; height:6px; background-position: -40px -20px;}

 /*인증서목록*/
#initech_certificate_wrap .certificate_list_area{width:100%; /* margin-bottom:15px; */}
#initech_certificate_wrap .certificate_list_area>dt{position:relative; width:100%;}
#initech_certificate_wrap .certificate_list_area>dt .more{position:absolute; top:0; right:0; display:block; height:12px; padding:0 13px 0 17px; color:#333; font-size:12px;}
#initech_certificate_wrap .certificate_list_area>dt .more:after{position:absolute; top:0; right:0; content: ''; display: block; width:6px; height:12px;}
#initech_certificate_wrap .certificate_list_area>dt .more.disabled:after{background-position:100% -18px;}
#initech_certificate_wrap .certificate_list_area>dt .more .ico{position:absolute; top:1px; left:0;}
#initech_certificate_wrap .certificate_list_area .table_wrap{height:136px;border:1px solid #2b40ab; background:#fff; overflow-x:hidden;overflow-y: auto;} /* color change */  /* 2017-08-14 수정 */
#initech_certificate_wrap .certificate_list_area .table_wrap .mCSB_scrollTools{top:32px; bottom:5px;}
#initech_certificate_wrap .certificate_list_area .cert_selected{box-shadow:0 0 3px 2px #e5e7f1;}
#initech_certificate_wrap .certificate_list_area table{width:100%;}
#initech_certificate_wrap .certificate_list_area th{overflow:hidden;text-align:center;white-space:nowrap;border-left:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb; font-size:11px;line-height:24px; font-weight:normal;}
#initech_certificate_wrap .certificate_list_area th:first-child{border-left: 0;}
#initech_certificate_wrap .certificate_list_area td{overflow:hidden;text-align:center;line-height:27px;white-space:nowrap;text-overflow:ellipsis;} /* 2017-08-14 수정 */
#initech_certificate_wrap .certificate_list_area tr.data{cursor: pointer}
#initech_certificate_wrap .certificate_list_area tr.no_data td{text-align: center;}
#initech_certificate_wrap .certificate_list_area td:first-child,
#initech_certificate_wrap .certificate_list_area td:first-child + td{text-align:left;}
#initech_certificate_wrap .certificate_list_area .active td{color:#000;}
#initech_certificate_wrap .certificate_list_area .active td:first-child,
#initech_certificate_wrap .certificate_list_area .active td:first-child + td a{font-weight:bold;}
#initech_certificate_wrap .certificate_list_area td a{padding-left:10px; color:#333;}
#initech_certificate_wrap .certificate_list_area td .ico{overflow:hidden; width:16px; height:0; margin:1px 3px 0 12px; padding-top:12px;}
#initech_certificate_wrap .certificate_list_area .ico.cert2{background:url(../img/icon/certificate_02.png);}
#initech_certificate_wrap .certificate_list_area .ico.cert3{background:url(../img/icon/certificate_03.png);}
#initech_certificate_wrap .certificate_list_area .manage{padding:8px 14px 8px; background:#fff; text-align: right; border:1px solid #dbdbdb; border-top:0;}
@-moz-document url-prefix(){#initech_certificate_wrap .certificate_list_area .manage{padding:11px 14px 9px;line-height:1.1;}}

/* 기타아이콘 */
#initech_certificate_wrap .ico{background:url(../img/color_identity_blue/ico_initech_cert.png) no-repeat;}
#initech_certificate_wrap .certificate_list_area .manage a{display:inline-block; padding:0 0 0 10px; color:#333; font-size:12px; font-weight:bold;letter-spacing:-1px;}
#initech_certificate_wrap .certificate_list_area .manage a .ico.bring{padding-left:17px;background:url(../img/icon/icon_bring.png) no-repeat;height:13px;}
#initech_certificate_wrap .certificate_list_area .manage a .ico.set{padding-left:17px;background:url(../img/icon/icon_set.png) no-repeat;height:13px;}

#initech_certificate_wrap .certificate_list_area .manage a:first-child{/* border-right:1px solid #ebeff2; 2017-06-16 */}
#initech_certificate_wrap .certificate_list_area .manage a *{vertical-align: top;}
#initech_certificate_wrap .certificate_list_area .disabled{cursor: default; color:#999 !important;}
#initech_certificate_wrap .table_wrap.custom_scroll{border:1px solid #2b40ab;} /* 2017-06-16 yw */  /* color change */

/* 인증서 암호 입력 영역*/
#initech_certificate_wrap .certificate_password{margin-top:15px;}
#initech_certificate_wrap .certificate_password.type02{margin-bottom:64px;}
#initech_certificate_wrap .certificate_password>dd,
#initech_certificate_wrap .certificate_password .ini_keyboardwrap{position:relative; border-width:2px; border-style: solid; background:#fff; zoom:1;margin-bottom:10px;}
#initech_certificate_wrap .certificate_password .type03{margin-bottom:39px;}
#initech_certificate_wrap .certificate_password .type04{margin-bottom:36px;}
#initech_certificate_wrap .certificate_password input{width:86%; padding:9px 10px; height:14px; border:0;}
#initech_certificate_wrap .certificate_password .keyboard{position:absolute; top:0; right:0; display: block; width:45px; height:32px; cursor: pointer}
#initech_certificate_wrap .certificate_password + .agree_check{padding-top:14px; text-align:center;}
#initech_certificate_wrap .certificate_password .agree_check{text-align:center;}
#initech_certificate_wrap .certificate_password .div{margin-top:20px; border-top:1px solid #f0f0f0;}

/* 버튼 영역 */
#initech_certificate_wrap .confirm_btn_area{width:100%; margin-top:16px; text-align: center;font-size:0; /* position:absolute;bottom:15px;left:0; */}
#initech_certificate_wrap .confirm_btn_area button{display:inline-block; width:125px; height:42px; font-size:15px; font-weight:bold; border:1px solid;}
#initech_certificate_wrap .confirm_btn_area button.INI_emp{color:#fff;}
#initech_certificate_wrap .confirm_btn_area button.INI_emp:active{color:#2b40ab;background-color:#fff;}
#initech_certificate_wrap .confirm_btn_area button.cancel{color:#000; background:#fff; border-color:#ccc;margin-left:6px;}

/* 인증서 찾기 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#initech_certificate_wrap .find_certificate{}
#initech_certificate_wrap .find_certificate p{font-size: 11px; color:#555; line-height:16px; letter-spacing:-0.5px;}
#initech_certificate_wrap .find_certificate p + p{margin-top:14px;}
#initech_certificate_wrap .find_certificate .btn_exp,
#initech_certificate_wrap .find_certificate .btn{display:inline-block; width:110px; height:30px; background:#fff; border:1px solid #d0d0d0; font-weight:bold; color:#333; text-align:center; border-radius: 0;}
#initech_certificate_wrap .find_certificate .icon{position:absolute; top:50%; left:0; display:inline-block; width:120px; height:100px;margin-top:-50px;}
#initech_certificate_wrap .find_certificate .icon.simple{}
#initech_certificate_wrap .find_certificate .icon.direct{background-position:0 -100px;}
#initech_certificate_wrap .find_certificate .icon.drag{width:107px; height:46px; background-position:0 -300px;}
#initech_certificate_wrap .find_certificate .icon.cert{width:65px; height:54px; background-position:0 -600px;}

#initech_certificate_wrap .find_certificate fieldset{/* margin-top:20px; */ padding:13px;}
#initech_certificate_wrap .find_certificate input{width:163px; height:36px; margin-left:5px; line-height:36px; background:#fff; border:1px solid #dbdbdb; text-align: center; font-size: 18px; color:#000; font-weight:bold;}
#initech_certificate_wrap .find_certificate .input_field2 input{width:163px;}
#initech_certificate_wrap .find_certificate .input_field3 input{width:106px;}
#initech_certificate_wrap .find_certificate .input_field4 input{width:78px;}
#initech_certificate_wrap .find_certificate label{display:inline-block; height:38px; line-height: 38px; color:#000; padding-right:10px; vertical-align: middle; font-weight:bold;}

/*찾기 방식*/
#initech_certificate_wrap .select_method{border:1px solid #dbdbdb; height:264px;}
#initech_certificate_wrap .select_method dl{position:relative; width:100%; height:131px; border-left:0; background:#fff;}
#initech_certificate_wrap .select_method dl:after{content:''; display: block; clear: both;}
#initech_certificate_wrap .select_method dl>*{padding:0 70px 0 120px;text-align:justify;}
#initech_certificate_wrap .select_method dl + dl{border-top:1px solid #dbdbdb;}
#initech_certificate_wrap .select_method dt{padding-top:27px; padding-bottom:10px; color:#000; font-size:14px; color:#000; font-weight:bold;}
#initech_certificate_wrap .select_method .btn_go{position:absolute; top:50%; right:20px; overflow:hidden; width:36px; height:0; padding-top:36px; margin-top:-18px; border:0;}

/* 간편찾기 */
#initech_certificate_wrap .simple_method{background:#fff; border:1px solid #dbdbdb;}
#initech_certificate_wrap .simple_method>div{position:relative; padding:30px 35px 20px 165px;
/* width:245px; height:85px; margin:0 auto;padding-left:95px; certificate_find_method_simple_01.html */}
#initech_certificate_wrap .simple_method .btn{margin-top:10px;}
#initech_certificate_wrap .simple_method .icon.simple{top:50%; left:60px; width:79px; height:64px; background-position:0 -200px;margin-top:-32px;}

/* 직접찾기 */
#initech_certificate_wrap .direct_method{padding:25px 19px 20px; background:#fff; border:1px solid #dbdbdb; text-align:center; height:219px;}
#initech_certificate_wrap .direct_method .drag_n_drop{position:relative;}
#initech_certificate_wrap .direct_method .icon.drag{position:absolute;top:20px;left:50%;margin-left:-53px;margin-top:0;}
#initech_certificate_wrap .drag_n_drop{margin:22px 0 20px; padding:81px 0 17px; border:2px dashed;}
#initech_certificate_wrap .drag_n_drop .icon{margin-bottom:0px;}


/* 전자서명 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#initech_certificate_wrap .certificate_signature_area{width:100%; padding-bottom:20px;}
#initech_certificate_wrap .certificate_signature_area .txt_notice{padding-bottom:10px; font-weight:bold; color:#000; letter-spacing:-0.6px;}
#initech_certificate_wrap .signiture_info{ padding:3px 0; border:1px solid #d4d4d4; background:#fff;height:160px;/* overflow-y:scroll; */overflow:auto;}
#initech_certificate_wrap .signiture_info p{padding:5px 20px 2px; line-height:1.3;}
#initech_certificate_wrap .signiture_info dl{padding:0px 20px; zoom:1;}
#initech_certificate_wrap .signiture_info dl:after{content:''; display: block; clear:both;}
#initech_certificate_wrap .signiture_info dl>*{float:left; padding:3px 0;}
#initech_certificate_wrap .signiture_info dt{width:30%; font-weight:bold;word-break: break-all}
#initech_certificate_wrap .signiture_info dd{width:70%;}

/* 인증서 관리 */
#initech_certificate_wrap .certificate_manage{/* margin-bottom:25px; */margin-top:15px;}
#initech_certificate_wrap .certificate_manage .menu_list{width:100%; margin:-3px 0 -3px;}
#initech_certificate_wrap .certificate_manage .menu_list:after{content:''; display: block; clear:both;}
#initech_certificate_wrap .certificate_manage .menu_list li{float:left; width:33.3%;}
#initech_certificate_wrap .menu_list a{position:relative; display:block; height:29px; padding-top:46px; margin:4px; border:1px solid #dbdbdb; color:#000; background:#fff url(../img/icon/ico_cert_manage.png) no-repeat; text-align:center; font-size:11px;}
#initech_certificate_wrap .menu_list a:hover{font-weight:bold;}
#initech_certificate_wrap .menu_list li:first-child a{margin-left:0;}
#initech_certificate_wrap .menu_list li:first-child + li a{background-position:0 -70px;}
#initech_certificate_wrap .menu_list li:first-child + li + li a{margin-right:0; background-position:0 -140px;}
#initech_certificate_wrap .menu_list li:first-child + li + li + li a{margin-left:0; background-position:0 -210px;}
#initech_certificate_wrap .menu_list li:first-child + li + li + li + li a{background-position:0 -280px;}
#initech_certificate_wrap .menu_list li:first-child + li + li + li + li + li a{margin-right:0; background-position:0 -350px;}

/* 인증서 보기 */
#initech_certificate_wrap .certificate_view_area .info_data{background:#fff; border:1px solid #dbdbdb;overflow-y:scroll;height:264px;}
#initech_certificate_wrap .certificate_view_area .info_data.short{height:168px;overflow:auto;} /* certificate_find_method_direct_password_01.html  인증서 찾기*/
#initech_certificate_wrap .certificate_view_area .info_data.short + .align_center{margin-bottom:80px;} /* certificate_delete_01.html 인증서 삭제 */
#initech_certificate_wrap .info_data .title{padding:9px 20px 10px; text-align: center; font-weight:bold; font-size:11px;}
#initech_certificate_wrap .info_data p{padding:5px 10px; line-height:22px;}
#initech_certificate_wrap .info_data .summary{padding:10px; margin:0 9px 9px; background:#f8f8f8;}
#initech_certificate_wrap .info_data .summary dl{width:100%;}
#initech_certificate_wrap .info_data .summary dl:after{content:''; display: block; clear: both;}
#initech_certificate_wrap .summary dl>*{float:left; padding:7px 0; overflow:hidden; text-overflow: ellipsis;}
#initech_certificate_wrap .summary dl>dt{display:inline; width:105px; padding-left:10px; font-weight:bold;}
#initech_certificate_wrap .summary dl>dd{width:283px;}
#initech_certificate_wrap .info_data .info_more{margin-top:-10px; padding:0 10px;}
#initech_certificate_wrap .info_data .info_more dl{width:100%; padding:10px 0; border-top:1px dotted #dbdbdb;}
#initech_certificate_wrap .info_data .info_more dl:after{content:''; display: block; clear: both;}
#initech_certificate_wrap .info_data .info_more dl:first-child{border-top:0;}
#initech_certificate_wrap .info_data .info_more dl>*{float:left; font-size: 11px; line-height:14px;}
#initech_certificate_wrap .info_data .info_more dt{display:inline; width:105px; padding-left:20px; font-weight:bold;}
#initech_certificate_wrap .info_data .info_more dd{width:283px; white-space: normal; word-wrap: break-word;}
#initech_certificate_wrap .info_data .mCSB_scrollTools{top:0; bottom:5px;}
#initech_certificate_wrap .certificate_view_area + fieldset{margin-top:15px;}
#initech_certificate_wrap .certificate_password .ini_keyboardwrap + .align_center{margin-bottom:74px;}
/* 인증서 암호 변경 */
#initech_certificate_wrap .certificate_password_area{border:0 solid #dbdbdb;}
#initech_certificate_wrap .certificate_password_area.type02{margin-bottom:51px;}
#initech_certificate_wrap .certificate_password_area.type03{margin-bottom:20px;}
#initech_certificate_wrap .certificate_password_area.type02 .certificate_password{margin-top:0;}
#initech_certificate_wrap .certificate_password_area .certificate_password{padding:0 20px 13px; background:#fff; }
#initech_certificate_wrap .certificate_password_area .certificate_password.m_top0{margin-top:0;}
#initech_certificate_wrap .certificate_password_area dt{padding:15px 0 10px; font-weight:bold; color:#000;}
#initech_certificate_wrap .certificate_password_area div{position:relative;border-width:2px;border-style: solid;background:#fff;zoom:1;}
#initech_certificate_wrap .certificate_password_area>p{padding:12px 0 12px; text-align:center; font-size:11px; line-height:1.5; border-bottom:1px solid #dbdbdb;}
.certificate_password + .certificate_password{border-top:1px solid #dbdbdb;}

/* 인증서 가져오기 & 내보내기 */
#initech_certificate_wrap .certificate_import,
#initech_certificate_wrap .certificate_export{background:#fff; border:1px solid #dbdbdb; text-align:center;}
#initech_certificate_wrap .certificate_import .icon,
#initech_certificate_wrap .certificate_export .icon{position:static;}
#initech_certificate_wrap .find_certificate .icon.export{height:90px; background-position:0 -400px;}
#initech_certificate_wrap .find_certificate .icon.import{height:90px; background-position:0 -500px;}
#initech_certificate_wrap .find_certificate .btn_ref{display:inline-block; margin-left:10px; border:0; background:transparent;}
#initech_certificate_wrap .find_certificate .btn_ref span{text-decoration: underline;}
#initech_certificate_wrap .certificate_export .input_field2 input{width:125px;}
#initech_certificate_wrap .certificate_export .input_field3 input{width:81px;}
#initech_certificate_wrap .certificate_export .input_field4 input{width:59px;}

#initech_certificate_wrap .find_certificate_inner {position:relative;padding:107px 0 30px;}
#initech_certificate_wrap .find_certificate_inner .icon.export{position:absolute;top:0;}
#initech_certificate_wrap .find_certificate.certificate_export .find_certificate_inner .icon.export{position:absolute;top:0px;left:50%;margin-top:30px;margin-left:-60px;background-position: 0 -420px;}
#initech_certificate_wrap .find_certificate.certificate_import .manager_inner {padding:110px 0 27px;position:relative;}
#initech_certificate_wrap .find_certificate.certificate_import .manager_inner .icon.import{position:absolute;top:0;left:50%;height:60px;margin-left:-60px;margin-top:30px;background-position: 0 -520px;}
/* 인증서 저장위치 선택 레이어 */
#initech_certificate_wrap .save_media_select{position:relative; z-index: 10; width:100%; margin-bottom:20px;}

/*저장 매체 목록*/
#initech_certificate_wrap .save_media_list{width:100%; border-left:1px solid #dbdbdb;}
#initech_certificate_wrap .save_media_list:after{content: ''; display: block; clear: both;}
#initech_certificate_wrap .save_media_list li:nth-child(6),
#initech_certificate_wrap .save_media_list li:nth-child(7),
#initech_certificate_wrap .save_media_list li:nth-child(8),
#initech_certificate_wrap .save_media_list li:nth-child(9),
#initech_certificate_wrap .save_media_list li:nth-child(10){margin-top:-1px;}

#initech_certificate_wrap .save_media_select .save_media{position:relative; float:left; width:20%/* 89px height:93px;  */;border:1px solid #dbdbdb;border-left:0; background:#fff; text-align: center; color:#333;
-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html*#initech_certificate_wrap .save_media_select .save_media{width:91px;}
#initech_certificate_wrap .save_media_select .save_media>a{display:block; height:91px;  color:#333; border:1px solid #fff; border-left-width: 2px;}
#initech_certificate_wrap .save_media_select .media_selected:first-child{border-left:0; width:20%/* 89px */;}
#initech_certificate_wrap .save_media_select .media_selected>a,
#initech_certificate_wrap .save_media_select .media_open>a{font-weight:bold;}
#initech_certificate_wrap .save_media_select .check{position:absolute; top:11px; right:18px; overflow:hidden; display:block; width:20px; height:0; padding-top:20px;}

/*매체선택(Default) 13ea*/
#initech_certificate_wrap .save_media_select .icon{display:inline-block; width:100%;height:68px;background-repeat:no-repeat;}

/*매체선택(disabled)*/
#initech_certificate_wrap .save_media.media_disabled{color:#ccc;}
#initech_certificate_wrap .media_disabled .icon{opacity: 0.3; filter:alpha(opacity:'30');}

/*드라이브 선택*/
#initech_certificate_wrap .save_drive_select{position:absolute; top:103%; left:0; width:178px; background:#fff; border-width: 3px; border-style: solid; box-shadow: 5px 5px 30px 0px #979ba8; text-align: left;}
#initech_certificate_wrap .save_drive_select .close_btn{position:absolute;right:5px;top:5px;z-index:99}
#initech_certificate_wrap .save_drive_select ul{overflow-y:auto; overflow-x:hidden; width:100%; max-height:120px; padding:0.5em 0;}
#initech_certificate_wrap .save_drive_select li{padding:0.5em 1em; }
#initech_certificate_wrap .save_drive_select a{display:block; width:100%; white-space:nowrap;text-overflow:ellipsis; color:#333;}

/*확장매체*/
#initech_certificate_wrap .save_extension_layer{position:absolute; top:100%; right:20px; width:270px; border:3px solid #2b40ab; background:#fff; box-shadow: 5px 5px 30px 0px #979ba8;}  /* color change */
#initech_certificate_wrap .save_extension_layer .close_btn{position:absolute;right:5px;top:5px;z-index:99}
#initech_certificate_wrap .save_extension_layer .arr{right:40px; left:auto;}
#initech_certificate_wrap .extension_save_media_list{width:100%;}
#initech_certificate_wrap .extension_save_media_list:after{content:''; display: block; clear:both;}
#initech_certificate_wrap .extension_save_media_list .save_media,
#initech_certificate_wrap .extension_save_media_list .save_media a,
#initech_certificate_wrap .extension_save_media_list .save_media.media_selected,
#initech_certificate_wrap .extension_save_media_list .save_media.media_selected a{border:0;}
#initech_certificate_wrap .extension_save_media_list .save_drive_select{display:none;position:absolute;top:110%;left:0;background:#fff;z-index:99;border:1px solid #2b40ab;}   /* color change */
#initech_certificate_wrap .extension_save_media_list .save_drive_select .arr{top:-6px; left:40px; right:auto; height:6px; background-position: -40px -20px;}

/* 스마트 카드 */
#initech_certificate_wrap .smart_card_area{margin-bottom:20px; padding-bottom:10px; border:1px solid #dbdbdb; background:#fff;}
#initech_certificate_wrap .smart_card_area .title{padding:10px 20px 10px; text-align: center; font-weight:bold; font-size:11px;}
#initech_certificate_wrap .select_list{margin:0 10px; background:#f8f8f8;}
#initech_certificate_wrap .select_list a{display:block; height:30px; line-height: 30px; text-align:center; color:#333;}
#initech_certificate_wrap .select_list a.selected{font-weight:bold;}

/* 레이어 팝업 */
#initech_certificate_wrap .dimmed{position:fixed; width:100%; height:100%; background:#000; opacity:.45; filter:alpha(opacity:'45');top:0;bottom:0;left:0;right:0;z-index:10;}
#initech_certificate_wrap .layer_wrap{z-index:10;}

#keyboard *{box-sizing:content-box;}
#keyboard.keyboard_wrap{position:absolute; top:50%; left:50%; width:743px; height:305px; margin:-153px 0 0 -371px; background:#f8f8f8; text-align:center;}
#keyboard.keyboard_wrap .keyboard_close{position:absolute; top:15px; right:20px;}
#keyboard.keyboard_wrap .password{padding:12px 0; margin:0 14px 7px; border-bottom:1px solid #dbdbdb;}
#keyboard.keyboard_wrap .password input{width:220px; height:20px; border:2px solid; text-align:center;}

#initech_certificate_save.layer_wrap{position:absolute;top:187px; background:#fff;width:100%;}
#initech_certificate_save.layer_wrap .layer{padding:0 20px;}
#initech_certificate_save.layer_wrap .layer_close{position:absolute; top:15px; right:20px;}

/* loading */
#ini_cert_loading{position:absolute; width:238px; height:97px; background:#fff; text-align: center; border:1px solid #dbdbdb; font-family: "맑은 고딕"; font-size:12px; line-height:1;}
#ini_cert_loading .img{display:inline-block; width:78px; height:43px;}
#ini_cert_loading p{margin-bottom:8px;}
#ini_cert_loading b{font-size:15px;}

/* message */
#ini_message_alert{position:absolute; width:290px; min-height:178px; background:#fff; text-align: center; font-family: "맑은 고딕"; font-size:12px; line-height:1;}
#ini_message_alert .icon{display:inline-block; width:50px; height:50px; margin:20px 0 15px;}
#ini_message_alert .icon.cert{width:65px; height:54px;}
#ini_message_alert .icon.confirm{background-position:0 0;}
#ini_message_alert .icon.notice{background-position:0 -50px;}
#ini_message_alert .icon.warn{width:61px; background-position:0 -100px;}
#ini_message_alert .icon + p{padding:0 10px; word-break: break-all; line-height:1.3;}
#ini_message_alert .btn_area button{display:inline-block; width:80px; height:30px; margin:20px 0; font-weight:bold;  color:#fff; border:1px solid;}
#ini_message_alert .layer_close{position:absolute; top:10px; right:10px;}

#initech_certificate_wrap .ini_txt{font-size:12px;font-weight:bold;margin-left:12px;letter-spacing:-1px;}

/*추가 (개발에서 css 안에  mark 작업시  필요한 값) */
#initech_certificate_wrap .ini_off{display:none !important}     /* 영역범위 & Tag 까지 보이지 않는 기능 */
#initech_certificate_wrap .ini_on{display:block !important}	 /* 영역범위 & Tag 까지 보이는 기능 */
#initech_certificate_wrap .ini_tag_off{visibility:hidden !important}   /* 영역범위는 지정되어 있고 tag만 보이지 않는 기능 */
#initech_certificate_wrap .ini_tag_on{visibility:visible !important}   /* 영역범위는 지정되어 있고 tag를 보이게 하는 기능 */

/* css add 2017_04_13 for sort*/
#initech_certificate_wrap .certificate_list_area th .num_num_click{width:8px;height:12px;}
#initech_certificate_wrap .certificate_list_area th .num_num_click img{margin-top: 8px;margin-left: 5px;}

/*css add 2017_04_18 for sort  (shinhan)*/
#initech_certificate_wrap .certificate_list_area td:first-child + td + td a{padding-left:0;}
#initech_certificate_wrap .certificate_list_area td:first-child + td + td + td a{padding-left:0;}



/* color_identity_blue.css */
/* 테마 컬러  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* 폰트컬러 1 */
#initech_certificate_wrap em,
#initech_certificate_wrap .sub_title h2,
#initech_certificate_wrap .drive_select a:hover,
#initech_certificate_wrap .save_drive_select a:hover,
/* #initech_certificate_wrap .certificate_list_area .active td:first-child + td a, */
#initech_certificate_wrap .select_method dl:hover dt,
#initech_certificate_wrap .menu_list a:hover,
#initech_certificate_wrap .select_list a.selected,
#ini_cert_loading em{color:#2b40ab !important;}  /* color change */
/* 폰트컬러 2 */
#initech_certificate_wrap .media_select .list_select>a,
#initech_certificate_wrap .save_media_select .media_selected>a,
#initech_certificate_wrap .media_select .open>a,
#initech_certificate_wrap .save_media_select .media_open>a{color:#152b97;}

/* 배경색상1 */
#initech_certificate_wrap .title_area .title{background: #2b40ab;}  /* color change */
/* 배경색상2 */
#initech_certificate_wrap .media_select .open,
#initech_certificate_wrap .save_media_select .media_open,
#initech_certificate_wrap .certificate_list_area .active td,
#initech_certificate_wrap .select_method dl:hover,
#initech_certificate_wrap .find_certificate fieldset,
#initech_certificate_wrap .media_select .list_select,
#initech_certificate_wrap .save_media_select .media_selected,
#initech_certificate_wrap .menu_list a:hover,
#initech_certificate_wrap .drag_n_drop,
#initech_certificate_wrap .select_list a.selected,
#keyboard.keyboard_wrap .password input{background-color:#e5ecff;} /* color change */
/* 배경색상 4 */
#initech_certificate_wrap .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
#initech_certificate_wrap .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
#initech_certificate_wrap .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
#initech_certificate_wrap .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: #4559bf;}

/*보더색상 1 */
#initech_certificate_wrap .drive_select,
#initech_certificate_wrap .extension_layer .drive_select,
#initech_certificate_wrap .save_drive_select,
#initech_certificate_wrap .save_extension_layer .save_drive_select,
#initech_certificate_wrap .certificate_password .ini_keyboardwrap,
#initech_certificate_wrap .media_select .list_select,
#initech_certificate_wrap .save_media_select .media_selected,
#initech_certificate_wrap .media_select .list_select>a,
#initech_certificate_wrap .save_media_select .media_selected>a,
#initech_certificate_wrap .extension_layer,
#keyboard.keyboard_wrap  .password input{border-color:#2b40ab;}  /* color change */

#initech_certificate_wrap .drive_select,
#initech_certificate_wrap .extension_layer .drive_select,
#initech_certificate_wrap .save_drive_select,
#initech_certificate_wrap .save_extension_layer .save_drive_select,
#initech_certificate_wrap .certificate_password .ini_keyboardwrap,
#initech_certificate_wrap .certificate_password>div,
#initech_certificate_wrap .certificate_password>dd,
#initech_certificate_wrap .media_select .list_select,
#initech_certificate_wrap .save_media_select .media_selected,
#initech_certificate_wrap .media_select .list_select>a,
#initech_certificate_wrap .save_media_select .media_selected>a,
#initech_certificate_wrap .extension_layer,
#keyboard.keyboard_wrap  .password input{border-color:#2b40ab;}  /* color change */
/* 보더색상 2 */
#initech_certificate_wrap .media_select .open>a,
#initech_certificate_wrap .save_media_select .media_open>a{border-color:#e5ecff;} /* color change */
/* 보더색상 3 */
#initech_certificate_wrap .certificate_list_area .cert_selected{border-color:#2b40ab;} /* color change */
/* 보더색상 4 */
#initech_certificate_wrap .drag_n_drop{border-color:#dbdbdb;}
/* btn */
#initech_certificate_wrap .find_certificate .btn.INI_emp,
#initech_certificate_wrap .confirm_btn_area button.INI_emp,
#ini_message_alert .INI_emp{background:#2b40ab; border-color: #2b40ab; color:#fff;}  /* color change */

/* 아이콘, 배경이미지 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* checkbox */
#initech_certificate_wrap .checkbox input[type=checkbox] + label:before{background:url(../img/color_identity_blue/ico_initech_cert.png) no-repeat -60px 0;}
#initech_certificate_wrap .checkbox input[type=checkbox]:checked + label:before{background:url(../img/color_identity_blue/ico_initech_cert.png) no-repeat -60px -20px;}

/* 저장매체아이콘 */
#initech_certificate_wrap .media_select_area .check{background:url(../img/color_identity_blue/ico_selected.png) no-repeat;}  /* color change */
/* 미니레이어 화살표 */
#initech_certificate_wrap .arr{background:url(../img/color_identity_blue/ico_initech_cert.png) no-repeat -40px 0;}
/* 인증서 저장목록 아이콘 */
#initech_certificate_wrap .certificate_list_area .ico.cert1{background:url(../img/color_identity_blue/certificate.png);}
#initech_certificate_wrap .certificate_list_area>dt .more:after{background:url(../img/color_identity_blue/ico_initech_cert.png) no-repeat 100% 2px;}
/* 키보드 */
#initech_certificate_wrap .certificate_password .keyboard{background:url(../img/color_identity_blue/ico_keyboard.png) no-repeat;}
/* 인증서찾기 아이콘 */
#initech_certificate_wrap .find_certificate .icon{background:url(../img/color_identity_blue/ico_find_certificate.png) no-repeat;}
#initech_certificate_wrap .select_method .btn_go{background:url(../img/color_identity_blue/btn_go.png) no-repeat;}
/* loading */
#ini_cert_loading .img{background:url(../img/color_identity_blue/img_loading.gif) no-repeat;}
/* message */
#ini_message_alert .icon{background:url(../img/color_identity_blue/ico_message.png) no-repeat;}
#ini_message_alert .icon.cert{background:url(../img/color_identity_blue/ico_find_certificate.png) no-repeat 0 -600px;}

/* 다건 전자서명 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#initech_certificate_wrap .certificate_signature_area_all{width:100%; padding-bottom:5px;}
#initech_certificate_wrap .certificate_signature_area_all .txt_notice{padding-bottom:10px; font-weight:bold; color:#000; letter-spacing:-0.6px;}
#initech_certificate_wrap .signiture_info_all{padding:5px 0; border:1px solid #d4d4d4; background:#fff;height:134px; overflow:auto;}
#initech_certificate_wrap .signiture_info_all p{padding:5px 20px 2px; line-height:1.3;}
#initech_certificate_wrap .signiture_info_all dl{padding:0 20px; zoom:1;}
#initech_certificate_wrap .signiture_info_all dl:after{content:''; display: block; clear:both;}
#initech_certificate_wrap .signiture_info_all dl>*{float:left; padding:3px 0;}
#initech_certificate_wrap .signiture_info_all dt{width:40%; font-weight:bold; word-break:break-all;}
#initech_certificate_wrap .signiture_info_all dd{width:60%;}
#initech_certificate_wrap .signiture_info_all .eachData{display:none;}

#initech_certificate_wrap .certificate_signature_area_num{width:100%;  padding-bottom:15px;}

/* pagenate * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#initech_certificate_wrap .certificate_signature_area_num .pagenate { width:100%; height:24px; margin:0; text-align:center;}
#initech_certificate_wrap .certificate_signature_area_num .pagenate span,
#initech_certificate_wrap .certificate_signature_area_num .pagenate a {display:inline-block; width:24px; height:24px; margin:0 1px; color:#767676; line-height:24px; vertical-align:top; font-weight:bold; letter-spacing:-1px; border:1px #fff solid}
#initech_certificate_wrap .certificate_signature_area_num .pagenate a:hover {color:#black;  background-color:#d0d0d0; }
#initech_certificate_wrap .certificate_signature_area_num .pagenate span {color:#fff;  background-color:#2b40ab;}
#initech_certificate_wrap .certificate_signature_area_num .pagenate a.dir span {overflow:hidden; display:block; text-indent:-9999px; background:none; cursor:pointer; display:none;}
#initech_certificate_wrap .certificate_signature_area_num .pagenate a.dir.prev1st {background-image:url(../img/btn/btn_page_prev1.gif);}
#initech_certificate_wrap .certificate_signature_area_num .pagenate a.dir.prev1st:hover {background-image:url(../img/btn/btn_page_prev1_hover.gif);}
#initech_certificate_wrap .certificate_signature_area_num .pagenate a.dir.prev2nd {background-image:url(../img/btn/btn_page_prev2.gif);}
#initech_certificate_wrap .certificate_signature_area_num .pagenate a.dir.prev2nd:hover {background-image:url(../img/btn/btn_page_prev2_hover.gif);}
#initech_certificate_wrap .certificate_signature_area_num .pagenate a.dir.next1st {background-image:url(../img/btn/btn_page_next1.gif);}
#initech_certificate_wrap .certificate_signature_area_num .pagenate a.dir.next1st:hover {background-image:url(../img/btn/btn_page_next1_hover.gif);}
#initech_certificate_wrap .certificate_signature_area_num .pagenate a.dir.next2nd {background-image:url(../img/btn/btn_page_next2.gif);}
#initech_certificate_wrap .certificate_signature_area_num .pagenate a.dir.next2nd:hover {background-image:url(../img/btn/btn_page_next2_hover.gif);}
#initech_certificate_wrap .certificate_signature_area_num .pagenate .num_btn_area {width:280px;display:inline-block;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;}
#initech_certificate_wrap .certificate_signature_area_num .pagenate a.dir.num {background-color:transparent;border:1px solid #fff;}
#initech_certificate_wrap .certificate_signature_area_num .pagenate a.dir.num:hover{color:#black;  background-color:#d0d0d0;}
#initech_certificate_wrap .certificate_signature_area_num .pagenate a.dir.num.clicked {color:#fff;background-color:#2b40ab;border:1px solid #d4d4d4;}
#initech_certificate_wrap .certificate_signature_area_num .pagenate a.dir.num.clicked:hover{color:#fff;background-color:#2b40ab;border:1px solid #d4d4d4;}


/* Certificate imminent Day Message Add 2017 02 16 */
#initech_certificate_wrap .certificate_list_area td .data_finish_message{
	padding: 5px; border: 1px solid rgb(120,133,202);border-image:none;width:310px; color:rgb(255,102,0);line-height:15px;font-weight: normal;display:block;position: absolute; box-shadow: 5px 5px 5px 0px #e5e7f1;background-color:rgb(255,255,255);
}
#initech_certificate_wrap .certificate_list_area td .data_finish_message .add_rotate{top: -6px !important; box-shadow: 5px 5px 30px 0px #979ba8;}

.data_finish_message{
	padding: 5px; border: 1px solid rgb(120,133,202);border-image:none;width:310px; color:rgb(255,102,0);line-height:15px;font-weight: normal;display:block;position: absolute; box-shadow: 5px 5px 5px 0px #e5e7f1;background-color:rgb(255,255,255);
}
.data_finish_message .add_rotate{top: -6px !important; box-shadow: 5px 5px 30px 0px #979ba8;}

/*타켓 저장 매채 리스트 다이얼로그*/
.dimmed { position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: #10131a; opacity: .45; filter: alpha(opacity:'45'); }
#initech_certificate_save.layer_wrap { position: absolute; background: #fff; }
#initech_certificate_wrap .pdl20 { padding-left: 20px !important; }
#initech_certificate_wrap .save_media_select { position: relative; z-index: 10; width: 100%; margin-bottom: 20px; }
#initech_certificate_wrap .section_title { height: 24px; color: #000; font-weight: bold; font-size: 14px; }
#initech_certificate_wrap .section_title:hover { cursor : pointer; }
#initech_certificate_wrap .save_media_list { width: 100%; border-left: 1px solid #dbdbdb; }
#initech_certificate_wrap .save_media_select .save_media { position: relative; float: left; width: 89px; height: 93px; border: 1px solid #dbdbdb; border-left: 0; background: #fff; text-align: center; color: #333; }

/*인증서 리스트 테이블 헤더 고정*/
.fixed-thead table { width: 100%; border-collapse: collapse;}
.fixed-thead, .fixed-thead-head { position: relative; overflow: hidden; }
.fixed-thead-side, .fixed-thead-corner { position: absolute; left: 0; overflow: hidden; }
.fixed-thead-corner { top: 0; }
.fixed-thead-body { overflow: auto; }
.fixed-thead-body{ overflow-y: hidden; }
#initech_certificate_wrap .certificate_list_area{overflow:hidden}

/*인증서 가져오기 이벤트를 전체 영역으로 확대*/
#INI_easy_search_area{cursor:pointer}
#INI_easy_search_manual_area{cursor:pointer}