@charset "utf-8";

/* 폰트 색상 */
#m-initech-certificate-wrap em,
#m-initech-certificate-wrap .m-ini-search a:focus{color:#0063e3;}

/* 배경 색상 */
#m-initech-certificate-wrap header,
#m-initech-certificate-wrap .m-ini-cert-btns .emp,
#m-initech-certificate-wrap .num,
#m-initech-certificate-wrap .m-ini-keyboard-btns .emp{background:#1372ed;}
#m-initech-certificate-wrap .m-ini-cert-more,
#m-initech-certificate-wrap .m-ini-cert-list>a:focus,
#m-initech-certificate-wrap .m-ini-search a:focus{background:#e2f2ff;}

/* 보더 색상 */
#m-initech-certificate-wrap .input-wrap,
#m-initech-certificate-wrap .m-ini-cert-password .sect-title:first-child + .input-wrap,
#m-initech-certificate-wrap .m-ini-keyboard-btns .emp{border-color:#1372ed;}


/* 아이콘 및 배경 이미지 */
#m-initech-certificate-wrap .m-ini-cert-list .icon.cert1{background:url(../../img/mobile/color_theme_skyblue/ico_cert_01.png) no-repeat; background-size:100%;}
#m-initech-certificate-wrap .m-ini-cert-list .icon.cert2{background:url(../../img/mobile/color_theme_skyblue/ico_cert_02.png) no-repeat;background-size:100%;}
#m-initech-certificate-wrap .m-ini-cert-list .icon.cert4{background:url(../../img/mobile/color_theme_skyblue/ico_cert_04.png) no-repeat;background-size:100%;}
#m-initech-certificate-wrap .m-ini-cert-list>a:focus:after,
#m-initech-certificate-wrap .m-ini-cert-more a:after{background-image:url(../../img/mobile/color_theme_skyblue/arr_right.png);}
#m-initech-certificate-wrap .m-ini-search .icon.simple{background:url(../../img/mobile/color_theme_skyblue/ico_srh_01.png) no-repeat; background-size:100%;}
#m-initech-certificate-wrap .m-ini-search .icon.direct{background:url(../../img/mobile/color_theme_skyblue/ico_srh_02.png) no-repeat; background-size:100%}
#m-initech-certificate-wrap #alert .icon{background:url(../../img/mobile/color_theme_skyblue/ico_cert_delete.png) no-repeat; background-size:100%}
#m-initech-certificate-wrap .m-ini-cert-manage .icon.export{background:url(../../img/mobile/color_theme_skyblue/ico_cert_export.png) no-repeat;background-size:100%;}
#m-initech-certificate-wrap .m-ini-cert-manage .icon.simple{background:url(../../img/mobile/color_theme_skyblue/ico_srh_01.png) no-repeat; background-size:100%;}
#m-initech-certificate-wrap .m-ini-cert-manage .icon.import{background:url(../../img/mobile/color_theme_skyblue/ico_cert_import.png) no-repeat;background-size:100%;}
#m-initech-certificate-wrap #loading .img{background:url(../../img/mobile/color_theme_skyblue/img_loading.gif) no-repeat; background-size: 100%;}